[alias]
	abbrev = !sh -c 'git rev-parse --short ${1-`echo HEAD`}' -
	ack = grep --break --heading
	amend = commit --amend -v
	both = diff HEAD
	br = branch
	ci = commit -v
	co = checkout
	count = !sh -c 'git log --oneline | wc -l'

	# http://stackoverflow.com/questions/224687/git-find-duplicate-blobs-files-in-this-tree/8408640#8408640
	dupes = !"git ls-tree -r HEAD | cut -c 13- | sort | uniq -D -w 40"

	fixup = !sh -c 'git commit --fixup=$1 ${@:2}' -

	# requires Git 1.6.3 or later; %C(auto) requires Git 1.8.3 or later
	graph = log --graph --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'

	# %C(auto) requires Git 1.8.3 or later
	oneline = log --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'

	# requires Git 1.5.4 or later
	patch = add -p

	refresh = !STASH=$(git stash) && git fetch origin && git rebase origin/master && test \"$STASH\" != \"No local changes to save\" && git stash pop

	# requires Git 1.7.11.3 or later
	reword = commit --amend --only -v --

	# requires Git 1.6.2 or later
	rollback = !sh -c 'git reset --merge HEAD~${1-1}' -

	st = status
	staged = diff --cached

	# %C(auto) requires Git 1.8.3 or later
	ten = log -10 --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'

[branch]
	autosetupmerge = always
	autosetuprebase = local

[branch "master"]
	rebase = true

[color]
	ui = auto

[color "interactive"]
	prompt = blue reverse

[color "status"]
	untracked = blue

[core]
	excludesfile = ~/.gitignore
	pager = less -iFMRSX
	attributesfile = ~/.gitattributes

# ignored by Git older than 1.8.2
[diff]
	algorithm = histogram

[difftool]
	prompt = false

[grep]
	lineNumber = true

	# requires Git built with PCRE support; ie:
	#   brew install git --with-pcre (on OS X)
	patternType = perl

[help]
	autocorrect = 2

[log]
	decorate = short

[merge]
	log = 1000

[pager]
	show-branch = true
	status = true

[push]
	# requires Git 1.7.5 or later
	default = upstream

[rebase]
	autosquash = true

[rerere]
	enabled = true

[status]
	submodulesummary = true

[user]
	email = greg@hurrell.net
	name = Greg Hurrell

# ignored by Git older than 1.7.10
[include]
	path = .gitconfig.local
