[submodule "roles/dotfiles/files/.zsh/base16-shell"]
	path = roles/dotfiles/files/.zsh/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "roles/dotfiles/files/.vim/bundle/YouCompleteMe"]
	branch = wincent
	ignore = dirty
	path = roles/dotfiles/files/.vim/bundle/YouCompleteMe
	url = https://github.com/wincent/YouCompleteMe.git
[submodule "roles/dotfiles/files/.vim/bundle/base16-vim"]
	path = roles/dotfiles/files/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "roles/dotfiles/files/.vim/bundle/command-t"]
	branch = next
	ignore = dirty
	path = roles/dotfiles/files/.vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "roles/dotfiles/files/.vim/bundle/gundo"]
	ignore = untracked
	path = roles/dotfiles/files/.vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "roles/dotfiles/files/.vim/bundle/loupe"]
	ignore = dirty
	path = roles/dotfiles/files/.vim/bundle/loupe
	url = https://github.com/wincent/loupe.git
[submodule "roles/dotfiles/files/.vim/bundle/nerdtree"]
	branch = keepalt
	ignore = untracked
	path = roles/dotfiles/files/.vim/bundle/nerdtree
	url = https://github.com/wincent/nerdtree.git
[submodule "roles/dotfiles/files/.vim/bundle/tcomment_vim"]
	path = roles/dotfiles/files/.vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "roles/dotfiles/files/.vim/bundle/terminus"]
	path = roles/dotfiles/files/.vim/bundle/terminus
	url = https://github.com/wincent/terminus.git
[submodule "roles/dotfiles/files/.vim/bundle/ultisnips"]
	path = roles/dotfiles/files/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-clipper"]
	path = roles/dotfiles/files/.vim/bundle/vim-clipper
	url = https://github.com/wincent/vim-clipper.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-dispatch"]
	path = roles/dotfiles/files/.vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-easydir"]
	ignore = untracked
	path = roles/dotfiles/files/.vim/bundle/vim-easydir
	url = https://github.com/dockyard/vim-easydir.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-eunuch"]
	path = roles/dotfiles/files/.vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-fugitive"]
	ignore = untracked
	path = roles/dotfiles/files/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-git"]
	ignore = untracked
	path = roles/dotfiles/files/.vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-javascript"]
	path = roles/dotfiles/files/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-jsx"]
	path = roles/dotfiles/files/.vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-markdown"]
	path = roles/dotfiles/files/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-pathogen"]
	path = roles/dotfiles/files/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-projectionist"]
	path = roles/dotfiles/files/.vim/bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-repeat"]
	ignore = untracked
	path = roles/dotfiles/files/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-speeddating"]
	path = roles/dotfiles/files/.vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-surround"]
	ignore = untracked
	path = roles/dotfiles/files/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-textobj-comment"]
	path = roles/dotfiles/files/.vim/bundle/vim-textobj-comment
	url = https://github.com/glts/vim-textobj-comment.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-textobj-rubyblock"]
	path = roles/dotfiles/files/.vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-textobj-user"]
	ignore = untracked
	path = roles/dotfiles/files/.vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vendor/ansible"]
	path = vendor/ansible
	url = https://github.com/ansible/ansible.git
[submodule "vendor/git-cipher"]
	path = vendor/git-cipher
	url = https://github.com/wincent/git-cipher.git
[submodule "vendor/virtualenv"]
	path = vendor/virtualenv
	url = https://github.com/pypa/virtualenv.git
[submodule "roles/dotfiles/files/.vim/bundle/ferret"]
	ignore = untracked
	path = roles/dotfiles/files/.vim/bundle/ferret
	url = https://github.com/wincent/ferret.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-ansible-yaml"]
	path = roles/dotfiles/files/.vim/bundle/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-jade"]
	path = roles/dotfiles/files/.vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "roles/dotfiles/files/.vim/bundle/neco-ghc"]
	path = roles/dotfiles/files/.vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-abolish"]
	path = roles/dotfiles/files/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-lion"]
	path = roles/dotfiles/files/.vim/bundle/vim-lion
	url = https://github.com/tommcdo/vim-lion.git
[submodule "roles/dotfiles/files/.vim/bundle/vim-signature"]
	path = roles/dotfiles/files/.vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "roles/dotfiles/files/.vim/bundle/pinnacle"]
	path = roles/dotfiles/files/.vim/bundle/pinnacle
	url = https://github.com/wincent/pinnacle.git
