/aspects/dotfiles/files/.config/kitty/kitty.conf
/aspects/dotfiles/files/.hammerspoon/iterm.lua
/aspects/dotfiles/files/.zsh/.base16
/aspects/dotfiles/files/.zsh/.base16.previous
/aspects/nvim/files/.config/nvim/after/plugin/command-t.private.vim
/aspects/nvim/files/.config/nvim/plugin/private.vim
/aspects/nvim/files/.config/nvim/spell/en.utf-8.add.spl
/aspects/nvim/files/.config/nvim/shada
/aspects/nvim/files/.vim/viminfo
/media
/node_modules
/vendor/base16-schemes
/vendor/base16-templates
/vendor/neovim
/vendor/skim
/vendor/yay
