[log]
	decorate = short
[color]
	ui = auto
[pager]
	status = true
	show-branch = true
[alias]
	st = status
	ci = commit
	co = checkout
	oneline = log --oneline
	both = diff HEAD
	patch = add --patch
	staged = diff --cached
	amend = commit --amend
	graph = log --oneline --graph
	abbrev = !sh -c 'git rev-parse --short ${1-`echo HEAD`}' -
[core]
	excludesfile = ~/.gitignore
	pager = less -FRSX
[difftool]
	prompt = false
[rebase]
	autosquash = true
[rerere]
	enabled = true
