/aspects/dotfiles/files/.zsh/skim
/aspects/dotfiles/files/.zsh/zsh-autosuggestions
/aspects/dotfiles/files/.zsh/zsh-history-substring-search
/aspects/dotfiles/files/.zsh/zsh-syntax-highlighting
/aspects/interception/support/CMakeFiles
/aspects/nvim/files/.config/nvim/pack
/aspects/nvim/files/.config/nvim/backup
/aspects/nvim/files/.config/nvim/swap
/aspects/nvim/files/.config/nvim/undo
/aspects/nvim/files/.config/nvim/view
/aspects/nvim/files/.vim/pack
/aspects/nvim/files/.vim/backup
/aspects/nvim/files/.vim/swap
/aspects/nvim/files/.vim/undo
/aspects/nvim/files/.vim/view
/fig/types
/lib
/python
/vendor
