snippet desc
	describe('${1}', function() {
		${2}
	});
snippet con
	context('${1}', function() {
		${2}
	});
snippet bef
	beforeEach(function() {
		${1}
	});
snippet it
	it('${1}', function() {
		${2}
	});
snippet ex
	expect(${1})${2}.to${3}();
