snippet css "External CSS link tag"
<link rel="stylesheet" type="text/css" href="${1:file}.css">
endsnippet

snippet script "External script tag" !
<script src="${1:file}.js"></script>
endsnippet

snippet script "Inline script tag"
<script>
  ${1}
</script>
endsnippet
