snippet desc "describe() block"
describe('${1}', () => {
	${2}
});
endsnippet

snippet con "context() block"
context('${1}', () => {
	${2}
});
endsnippet

snippet aft "after() block"
afterEach(() => {
	${1}
});
endsnippet

snippet bef "before() block"
beforeEach(() => {
	${1}
});
endsnippet

snippet it "it() block"
it('${1}', () => {
	${2}
});
endsnippet

snippet ex "expect() assertion"
expect(${1})${2}.to${3}();
endsnippet

snippet dm "don't mock"
jest.dontMock('${1}');
endsnippet
