snippet desc "describe() block"
describe('${1}', function() {
	${2}
});
endsnippet

snippet con "context() block"
context('${1}', function() {
	${2}
});
endsnippet

snippet bef "before() block"
beforeEach(function() {
	${1}
});
endsnippet

snippet it "it() block"
it('${1}', function() {
	${2}
});
endsnippet

snippet ex "expect() assertion"
expect(${1})${2}.to${3}();
endsnippet

snippet dm "don't mock"
require('mock-modules').dontMock('${1}');
endsnippet
