snippet fun "function" !
function${1: name}(${2:arg}) {
	$0
}
endsnippet

snippet log "console.log"
console.log(${1});
endsnippet

snippet strict "'use strict' declaration" b
"use strict";
endsnippet
