[colors]
# base16 Tokyo City Light
# Scheme author: Michaël Ball
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #343b59
foreground_bold     = #343b59
cursor              = #343b59
cursor_foreground   = #fbfbfd
background          = #fbfbfd

color0  = #f6f6f8 # base01 - Black
color1  = #8c4351 # base08 - Red
color2  = #485e30 # base0B - Green
color3  = #4c505e # base0A - Yellow
color4  = #34548a # base0D - Blue
color5  = #5a4a78 # base0E - Magenta
color6  = #4c505e # base0C - Cyan
color7  = #1d252c # base06 - White
color8  = #edeff6 # base02 - Bright Black
color9  = #8c4351 # base08 - Bright Red
color10 = #485e30 # base0B - Bright Green
color11 = #4c505e # base0A - Bright Yellow
color12 = #34548a # base0D - Bright Blue
color13 = #5a4a78 # base0E - Bright Magenta
color14 = #4c505e # base0C - Bright Cyan
color15 = #171d23 # base07 - Bright White
color16 = #965027 # base09
color17 = #5a4a78 # base0F
color18 = #f6f6f8 # base01
color19 = #edeff6 # base02
color20 = #4c505e # base04
color21 = #1d252c # base06
