[colors]
# base16 Precious Light Warm
# Scheme author: 4lex4 &lt;4lex49@zoho.com&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #4e5359
foreground_bold     = #4e5359
cursor              = #4e5359
cursor_foreground   = #fff5e5
background          = #fff5e5

color0  = #ece4d6 # base01 - Black
color1  = #b14745 # base08 - Red
color2  = #557300 # base0B - Green
color3  = #876500 # base0A - Yellow
color4  = #246da5 # base0D - Blue
color5  = #7a50c6 # base0E - Magenta
color6  = #0e7767 # base0C - Cyan
color7  = #4e5359 # base06 - White
color8  = #d9d3c8 # base02 - Bright Black
color9  = #b14745 # base08 - Bright Red
color10 = #557300 # base0B - Bright Green
color11 = #876500 # base0A - Bright Yellow
color12 = #246da5 # base0D - Bright Blue
color13 = #7a50c6 # base0E - Bright Magenta
color14 = #0e7767 # base0C - Bright Cyan
color15 = #4e5359 # base07 - Bright White
color16 = #a25600 # base09
color17 = #a83f92 # base0F
color18 = #ece4d6 # base01
color19 = #d9d3c8 # base02
color20 = #5d6065 # base04
color21 = #4e5359 # base06
