[colors]
# base16 Terracotta
# Scheme author: Alexander Rossell Hayes (https://github.com/rossellhayes)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #473731
foreground_bold     = #473731
cursor              = #473731
cursor_foreground   = #efeae8
background          = #efeae8

color0  = #dfd6d1 # base01 - Black
color1  = #a75045 # base08 - Red
color2  = #7a894a # base0B - Green
color3  = #ce943e # base0A - Yellow
color4  = #625574 # base0D - Blue
color5  = #8d5968 # base0E - Magenta
color6  = #847f9e # base0C - Cyan
color7  = #352a25 # base06 - White
color8  = #d0c1bb # base02 - Bright Black
color9  = #a75045 # base08 - Bright Red
color10 = #7a894a # base0B - Bright Green
color11 = #ce943e # base0A - Bright Yellow
color12 = #625574 # base0D - Bright Blue
color13 = #8d5968 # base0E - Bright Magenta
color14 = #847f9e # base0C - Bright Cyan
color15 = #241c19 # base07 - Bright White
color16 = #bd6942 # base09
color17 = #b07158 # base0F
color18 = #dfd6d1 # base01
color19 = #d0c1bb # base02
color20 = #59453d # base04
color21 = #352a25 # base06
