[colors]
# base24 Laser
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #d8d8d8
foreground_bold     = #d8d8d8
cursor              = #d8d8d8
cursor_foreground   = #030d18
background          = #030d18

color0  = #616161 # base01 - Black
color1  = #ff8272 # base08 - Red
color2  = #b4fa72 # base0B - Green
color3  = #f92883 # base0A - Yellow
color4  = #fed300 # base0D - Blue
color5  = #ff8ffd # base0E - Magenta
color6  = #d0d1fe # base0C - Cyan
color7  = #f1f1f1 # base06 - White
color8  = #8e8e8e # base02 - Bright Black
color9  = #ffc4bd # base12 - Bright Red
color10 = #d6fcb9 # base14 - Bright Green
color11 = #fefdd5 # base13 - Bright Yellow
color12 = #f92883 # base16 - Bright Blue
color13 = #ffb1fe # base17 - Bright Magenta
color14 = #e5e6fe # base15 - Bright Cyan
color15 = #feffff # base07 - Bright White
color16 = #09b4bd # base09
color17 = #7f4139 # base0F
color18 = #616161 # base01
color19 = #8e8e8e # base02
color20 = #bfbfbf # base04
color21 = #f1f1f1 # base06
