[colors]
# base16 Moonlight
# Scheme author: Jeremy Swinarton (https://github.com/jswinarton)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #a3ace1
foreground_bold     = #a3ace1
cursor              = #a3ace1
cursor_foreground   = #212337
background          = #212337

color0  = #403c64 # base01 - Black
color1  = #ff5370 # base08 - Red
color2  = #2df4c0 # base0B - Green
color3  = #ffc777 # base0A - Yellow
color4  = #40ffff # base0D - Blue
color5  = #b994f1 # base0E - Magenta
color6  = #04d1f9 # base0C - Cyan
color7  = #b4a4f4 # base06 - White
color8  = #596399 # base02 - Bright Black
color9  = #ff5370 # base08 - Bright Red
color10 = #2df4c0 # base0B - Bright Green
color11 = #ffc777 # base0A - Bright Yellow
color12 = #40ffff # base0D - Bright Blue
color13 = #b994f1 # base0E - Bright Magenta
color14 = #04d1f9 # base0C - Bright Cyan
color15 = #ef43fa # base07 - Bright White
color16 = #f67f81 # base09
color17 = #ecb2f0 # base0F
color18 = #403c64 # base01
color19 = #596399 # base02
color20 = #a1abe0 # base04
color21 = #b4a4f4 # base06
