[colors]
# base16 Solarized Dark
# Scheme author: Ethan Schoonover (modified by aramisgithub)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #93a1a1
foreground_bold     = #93a1a1
cursor              = #93a1a1
cursor_foreground   = #002b36
background          = #002b36

color0  = #073642 # base01 - Black
color1  = #dc322f # base08 - Red
color2  = #859900 # base0B - Green
color3  = #b58900 # base0A - Yellow
color4  = #268bd2 # base0D - Blue
color5  = #6c71c4 # base0E - Magenta
color6  = #2aa198 # base0C - Cyan
color7  = #eee8d5 # base06 - White
color8  = #586e75 # base02 - Bright Black
color9  = #dc322f # base08 - Bright Red
color10 = #859900 # base0B - Bright Green
color11 = #b58900 # base0A - Bright Yellow
color12 = #268bd2 # base0D - Bright Blue
color13 = #6c71c4 # base0E - Bright Magenta
color14 = #2aa198 # base0C - Bright Cyan
color15 = #fdf6e3 # base07 - Bright White
color16 = #cb4b16 # base09
color17 = #d33682 # base0F
color18 = #073642 # base01
color19 = #586e75 # base02
color20 = #839496 # base04
color21 = #eee8d5 # base06
