[colors]
# base16 Tokyo Night Storm
# Scheme author: Michaël Ball
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #a9b1d6
foreground_bold     = #a9b1d6
cursor              = #a9b1d6
cursor_foreground   = #24283b
background          = #24283b

color0  = #16161e # base01 - Black
color1  = #c0caf5 # base08 - Red
color2  = #9ece6a # base0B - Green
color3  = #0db9d7 # base0A - Yellow
color4  = #2ac3de # base0D - Blue
color5  = #bb9af7 # base0E - Magenta
color6  = #b4f9f8 # base0C - Cyan
color7  = #cbccd1 # base06 - White
color8  = #343a52 # base02 - Bright Black
color9  = #c0caf5 # base08 - Bright Red
color10 = #9ece6a # base0B - Bright Green
color11 = #0db9d7 # base0A - Bright Yellow
color12 = #2ac3de # base0D - Bright Blue
color13 = #bb9af7 # base0E - Bright Magenta
color14 = #b4f9f8 # base0C - Bright Cyan
color15 = #d5d6db # base07 - Bright White
color16 = #a9b1d6 # base09
color17 = #f7768e # base0F
color18 = #16161e # base01
color19 = #343a52 # base02
color20 = #787c99 # base04
color21 = #cbccd1 # base06
