[colors]
# base24 Sea Shells
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #b79c7e
foreground_bold     = #b79c7e
cursor              = #b79c7e
cursor_foreground   = #08131a
background          = #08131a

color0  = #17384c # base01 - Black
color1  = #d15023 # base08 - Red
color2  = #027c9b # base0B - Green
color3  = #1bbcdd # base0A - Yellow
color4  = #1e4950 # base0D - Blue
color5  = #68d3f1 # base0E - Magenta
color6  = #50a3b5 # base0C - Cyan
color7  = #deb88d # base06 - White
color8  = #424b52 # base02 - Bright Black
color9  = #d38677 # base12 - Bright Red
color10 = #618c98 # base14 - Bright Green
color11 = #fdd29e # base13 - Bright Yellow
color12 = #1bbcdd # base16 - Bright Blue
color13 = #bbe3ee # base17 - Bright Magenta
color14 = #86abb3 # base15 - Bright Cyan
color15 = #fee3cd # base07 - Bright White
color16 = #fca02f # base09
color17 = #682811 # base0F
color18 = #17384c # base01
color19 = #424b52 # base02
color20 = #90816f # base04
color21 = #deb88d # base06
