[colors]
# base24 Dimmed Monokai
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #acafac
foreground_bold     = #acafac
cursor              = #acafac
cursor_foreground   = #1e1e1e
background          = #1e1e1e

color0  = #3a3c43 # base01 - Black
color1  = #be3e48 # base08 - Red
color2  = #869a3a # base0B - Green
color3  = #176ce3 # base0A - Yellow
color4  = #4e76a1 # base0D - Blue
color5  = #855b8d # base0E - Magenta
color6  = #568ea3 # base0C - Cyan
color7  = #b8bcb9 # base06 - White
color8  = #888987 # base02 - Bright Black
color9  = #fb001e # base12 - Bright Red
color10 = #0e712e # base14 - Bright Green
color11 = #c37033 # base13 - Bright Yellow
color12 = #176ce3 # base16 - Bright Blue
color13 = #fb0067 # base17 - Bright Magenta
color14 = #2d6f6c # base15 - Bright Cyan
color15 = #fcffb8 # base07 - Bright White
color16 = #c4a535 # base09
color17 = #5f1f24 # base0F
color18 = #3a3c43 # base01
color19 = #888987 # base02
color20 = #a0a2a0 # base04
color21 = #b8bcb9 # base06
