[colors]
# base16 Brogrammer
# Scheme author: Vik Ramanujam (http://github.com/piggyslasher)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #4e5ab7
foreground_bold     = #4e5ab7
cursor              = #4e5ab7
cursor_foreground   = #1f1f1f
background          = #1f1f1f

color0  = #f81118 # base01 - Black
color1  = #d6dbe5 # base08 - Red
color2  = #f3bd09 # base0B - Green
color3  = #1dd361 # base0A - Yellow
color4  = #5350b9 # base0D - Blue
color5  = #0f7ddb # base0E - Magenta
color6  = #1081d6 # base0C - Cyan
color7  = #1081d6 # base06 - White
color8  = #2dc55e # base02 - Bright Black
color9  = #d6dbe5 # base08 - Bright Red
color10 = #f3bd09 # base0B - Bright Green
color11 = #1dd361 # base0A - Bright Yellow
color12 = #5350b9 # base0D - Bright Blue
color13 = #0f7ddb # base0E - Bright Magenta
color14 = #1081d6 # base0C - Bright Cyan
color15 = #d6dbe5 # base07 - Bright White
color16 = #de352e # base09
color17 = #ffffff # base0F
color18 = #f81118 # base01
color19 = #2dc55e # base02
color20 = #2a84d2 # base04
color21 = #1081d6 # base06
