[colors]
# base24 ayu
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #cbcbcb
foreground_bold     = #cbcbcb
cursor              = #cbcbcb
cursor_foreground   = #0f1419
background          = #0f1419

color0  = #000000 # base01 - Black
color1  = #ff3333 # base08 - Red
color2  = #b8cc52 # base0B - Green
color3  = #68d5ff # base0A - Yellow
color4  = #36a3d9 # base0D - Blue
color5  = #f07178 # base0E - Magenta
color6  = #95e6cb # base0C - Cyan
color7  = #ffffff # base06 - White
color8  = #323232 # base02 - Bright Black
color9  = #ff6565 # base12 - Bright Red
color10 = #eafe84 # base14 - Bright Green
color11 = #fff779 # base13 - Bright Yellow
color12 = #68d5ff # base16 - Bright Blue
color13 = #ffa3aa # base17 - Bright Magenta
color14 = #c7fffd # base15 - Bright Cyan
color15 = #ffffff # base07 - Bright White
color16 = #e7c547 # base09
color17 = #7f1919 # base0F
color18 = #000000 # base01
color19 = #323232 # base02
color20 = #989898 # base04
color21 = #ffffff # base06
