[colors]
# base24 Blazer
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #acacac
foreground_bold     = #acacac
cursor              = #acacac
cursor_foreground   = #0d1926
background          = #0d1926

color0  = #000000 # base01 - Black
color1  = #b87a7a # base08 - Red
color2  = #7ab87a # base0B - Green
color3  = #bdbddb # base0A - Yellow
color4  = #7a7ab8 # base0D - Blue
color5  = #b87ab8 # base0E - Magenta
color6  = #7ab8b8 # base0C - Cyan
color7  = #d9d9d9 # base06 - White
color8  = #262626 # base02 - Bright Black
color9  = #dbbdbd # base12 - Bright Red
color10 = #bddbbd # base14 - Bright Green
color11 = #dbdbbd # base13 - Bright Yellow
color12 = #bdbddb # base16 - Bright Blue
color13 = #dbbddb # base17 - Bright Magenta
color14 = #bddbdb # base15 - Bright Cyan
color15 = #ffffff # base07 - Bright White
color16 = #b8b87a # base09
color17 = #5c3d3d # base0F
color18 = #000000 # base01
color19 = #262626 # base02
color20 = #7f7f7f # base04
color21 = #d9d9d9 # base06
