[colors]
# base16 Primer Dark Dimmed
# Scheme author: Jimmy Lin
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #909dab
foreground_bold     = #909dab
cursor              = #909dab
cursor_foreground   = #1c2128
background          = #1c2128

color0  = #373e47 # base01 - Black
color1  = #f47067 # base08 - Red
color2  = #57ab5a # base0B - Green
color3  = #c69026 # base0A - Yellow
color4  = #539bf5 # base0D - Blue
color5  = #e275ad # base0E - Magenta
color6  = #96d0ff # base0C - Cyan
color7  = #adbac7 # base06 - White
color8  = #444c56 # base02 - Bright Black
color9  = #f47067 # base08 - Bright Red
color10 = #57ab5a # base0B - Bright Green
color11 = #c69026 # base0A - Bright Yellow
color12 = #539bf5 # base0D - Bright Blue
color13 = #e275ad # base0E - Bright Magenta
color14 = #96d0ff # base0C - Bright Cyan
color15 = #cdd9e5 # base07 - Bright White
color16 = #e0823d # base09
color17 = #ae5622 # base0F
color18 = #373e47 # base01
color19 = #444c56 # base02
color20 = #768390 # base04
color21 = #adbac7 # base06
