[colors]
# base24 IC-Orange-PPL
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #d9a971
foreground_bold     = #d9a971
cursor              = #d9a971
cursor_foreground   = #262626
background          = #262626

color0  = #000000 # base01 - Black
color1  = #c03900 # base08 - Red
color2  = #a3a900 # base0B - Green
color3  = #ffbd54 # base0A - Yellow
color4  = #bd6c00 # base0D - Blue
color5  = #fb5d00 # base0E - Magenta
color6  = #f79400 # base0C - Cyan
color7  = #ffc88a # base06 - White
color8  = #6a4e29 # base02 - Bright Black
color9  = #ff8b67 # base12 - Bright Red
color10 = #f6ff3f # base14 - Bright Green
color11 = #ffe36e # base13 - Bright Yellow
color12 = #ffbd54 # base16 - Bright Blue
color13 = #fc874f # base17 - Bright Magenta
color14 = #c59752 # base15 - Bright Cyan
color15 = #f9f9fe # base07 - Bright White
color16 = #caae00 # base09
color17 = #601c00 # base0F
color18 = #000000 # base01
color19 = #6a4e29 # base02
color20 = #b48b59 # base04
color21 = #ffc88a # base06
