[colors]
# base16 Harmonic16 Light
# Scheme author: Jannik Siebert (https://github.com/janniks)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #405c79
foreground_bold     = #405c79
cursor              = #405c79
cursor_foreground   = #f7f9fb
background          = #f7f9fb

color0  = #e5ebf1 # base01 - Black
color1  = #bf8b56 # base08 - Red
color2  = #56bf8b # base0B - Green
color3  = #8bbf56 # base0A - Yellow
color4  = #8b56bf # base0D - Blue
color5  = #bf568b # base0E - Magenta
color6  = #568bbf # base0C - Cyan
color7  = #223b54 # base06 - White
color8  = #cbd6e2 # base02 - Bright Black
color9  = #bf8b56 # base08 - Bright Red
color10 = #56bf8b # base0B - Bright Green
color11 = #8bbf56 # base0A - Bright Yellow
color12 = #8b56bf # base0D - Bright Blue
color13 = #bf568b # base0E - Bright Magenta
color14 = #568bbf # base0C - Bright Cyan
color15 = #0b1c2c # base07 - Bright White
color16 = #bfbf56 # base09
color17 = #bf5656 # base0F
color18 = #e5ebf1 # base01
color19 = #cbd6e2 # base02
color20 = #627e99 # base04
color21 = #223b54 # base06
