[colors]
# base16 XCode Dusk
# Scheme author: Elsa Gonsiorowski (https://github.com/gonsie)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #939599
foreground_bold     = #939599
cursor              = #939599
cursor_foreground   = #282b35
background          = #282b35

color0  = #3d4048 # base01 - Black
color1  = #b21889 # base08 - Red
color2  = #df0002 # base0B - Green
color3  = #438288 # base0A - Yellow
color4  = #790ead # base0D - Blue
color5  = #b21889 # base0E - Magenta
color6  = #00a0be # base0C - Cyan
color7  = #a9aaae # base06 - White
color8  = #53555d # base02 - Bright Black
color9  = #b21889 # base08 - Bright Red
color10 = #df0002 # base0B - Bright Green
color11 = #438288 # base0A - Bright Yellow
color12 = #790ead # base0D - Bright Blue
color13 = #b21889 # base0E - Bright Magenta
color14 = #00a0be # base0C - Bright Cyan
color15 = #bebfc2 # base07 - Bright White
color16 = #786dc5 # base09
color17 = #c77c48 # base0F
color18 = #3d4048 # base01
color19 = #53555d # base02
color20 = #7e8086 # base04
color21 = #a9aaae # base06
