[colors]
# base16 caroline
# Scheme author: ed (https://codeberg.org/ed)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #a87569
foreground_bold     = #a87569
cursor              = #a87569
cursor_foreground   = #1c1213
background          = #1c1213

color0  = #3a2425 # base01 - Black
color1  = #c24f57 # base08 - Red
color2  = #806c61 # base0B - Green
color3  = #f28171 # base0A - Yellow
color4  = #684c59 # base0D - Blue
color5  = #a63650 # base0E - Magenta
color6  = #6b6566 # base0C - Cyan
color7  = #c58d7b # base06 - White
color8  = #563837 # base02 - Bright Black
color9  = #c24f57 # base08 - Bright Red
color10 = #806c61 # base0B - Bright Green
color11 = #f28171 # base0A - Bright Yellow
color12 = #684c59 # base0D - Bright Blue
color13 = #a63650 # base0E - Bright Magenta
color14 = #6b6566 # base0C - Bright Cyan
color15 = #e3a68c # base07 - Bright White
color16 = #a63650 # base09
color17 = #893f45 # base0F
color18 = #3a2425 # base01
color19 = #563837 # base02
color20 = #8b5d57 # base04
color21 = #c58d7b # base06
