[colors]
# base16 Snazzy
# Scheme author: Chawye Hsu (https://github.com/chawyehsu), based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #e2e4e5
foreground_bold     = #e2e4e5
cursor              = #e2e4e5
cursor_foreground   = #282a36
background          = #282a36

color0  = #34353e # base01 - Black
color1  = #ff5c57 # base08 - Red
color2  = #5af78e # base0B - Green
color3  = #f3f99d # base0A - Yellow
color4  = #57c7ff # base0D - Blue
color5  = #ff6ac1 # base0E - Magenta
color6  = #9aedfe # base0C - Cyan
color7  = #eff0eb # base06 - White
color8  = #43454f # base02 - Bright Black
color9  = #ff5c57 # base08 - Bright Red
color10 = #5af78e # base0B - Bright Green
color11 = #f3f99d # base0A - Bright Yellow
color12 = #57c7ff # base0D - Bright Blue
color13 = #ff6ac1 # base0E - Bright Magenta
color14 = #9aedfe # base0C - Bright Cyan
color15 = #f1f1f0 # base07 - Bright White
color16 = #ff9f43 # base09
color17 = #b2643c # base0F
color18 = #34353e # base01
color19 = #43454f # base02
color20 = #a5a5a9 # base04
color21 = #eff0eb # base06
