[colors]
# base16 PhD
# Scheme author: Hennig Hasemann (http://leetless.de/vim.html)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #b8bbc2
foreground_bold     = #b8bbc2
cursor              = #b8bbc2
cursor_foreground   = #061229
background          = #061229

color0  = #2a3448 # base01 - Black
color1  = #d07346 # base08 - Red
color2  = #99bf52 # base0B - Green
color3  = #fbd461 # base0A - Yellow
color4  = #5299bf # base0D - Blue
color5  = #9989cc # base0E - Magenta
color6  = #72b9bf # base0C - Cyan
color7  = #dbdde0 # base06 - White
color8  = #4d5666 # base02 - Bright Black
color9  = #d07346 # base08 - Bright Red
color10 = #99bf52 # base0B - Bright Green
color11 = #fbd461 # base0A - Bright Yellow
color12 = #5299bf # base0D - Bright Blue
color13 = #9989cc # base0E - Bright Magenta
color14 = #72b9bf # base0C - Bright Cyan
color15 = #ffffff # base07 - Bright White
color16 = #f0a000 # base09
color17 = #b08060 # base0F
color18 = #2a3448 # base01
color19 = #4d5666 # base02
color20 = #9a99a3 # base04
color21 = #dbdde0 # base06
