[colors]
# base24 Red Sands
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #a1a1a1
foreground_bold     = #a1a1a1
cursor              = #a1a1a1
cursor_foreground   = #79241e
background          = #79241e

color0  = #000000 # base01 - Black
color1  = #ff3f00 # base08 - Red
color2  = #00bb00 # base0B - Green
color3  = #0071ae # base0A - Yellow
color4  = #0071ff # base0D - Blue
color5  = #bb00bb # base0E - Magenta
color6  = #00bbbb # base0C - Cyan
color7  = #bbbbbb # base06 - White
color8  = #555555 # base02 - Bright Black
color9  = #bb0000 # base12 - Bright Red
color10 = #00bb00 # base14 - Bright Green
color11 = #e7b000 # base13 - Bright Yellow
color12 = #0071ae # base16 - Bright Blue
color13 = #ff55ff # base17 - Bright Magenta
color14 = #55ffff # base15 - Bright Cyan
color15 = #ffffff # base07 - Bright White
color16 = #e7b000 # base09
color17 = #7f1f00 # base0F
color18 = #000000 # base01
color19 = #555555 # base02
color20 = #888888 # base04
color21 = #bbbbbb # base06
