[colors]
# base24 Tomorrow Night
# Scheme author: Cody Buell (https://github.com/codybuell)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #c5c8c6
foreground_bold     = #c5c8c6
cursor              = #c5c8c6
cursor_foreground   = #1d1f21
background          = #1d1f21

color0  = #282a2e # base01 - Black
color1  = #cc6666 # base08 - Red
color2  = #b5bd68 # base0B - Green
color3  = #f0c674 # base0A - Yellow
color4  = #81a2be # base0D - Blue
color5  = #b294bb # base0E - Magenta
color6  = #8abeb7 # base0C - Cyan
color7  = #e0e0e0 # base06 - White
color8  = #373b41 # base02 - Bright Black
color9  = #e74c3c # base12 - Bright Red
color10 = #b8d4b3 # base14 - Bright Green
color11 = #f7dc6f # base13 - Bright Yellow
color12 = #85c1e9 # base16 - Bright Blue
color13 = #d7a3ca # base17 - Bright Magenta
color14 = #95d3ce # base15 - Bright Cyan
color15 = #ffffff # base07 - Bright White
color16 = #de935f # base09
color17 = #a3685a # base0F
color18 = #282a2e # base01
color19 = #373b41 # base02
color20 = #b4b7b4 # base04
color21 = #e0e0e0 # base06
