[colors]
# base24 Nocturnal Winter
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #dcdcdc
foreground_bold     = #dcdcdc
cursor              = #dcdcdc
cursor_foreground   = #0d0d17
background          = #0d0d17

color0  = #4c4c4c # base01 - Black
color1  = #f12d52 # base08 - Red
color2  = #08cd7d # base0B - Green
color3  = #6095fe # base0A - Yellow
color4  = #3081df # base0D - Blue
color5  = #fe2a6c # base0E - Magenta
color6  = #09c87a # base0C - Cyan
color7  = #fbfbfb # base06 - White
color8  = #7f7f7f # base02 - Bright Black
color9  = #f16c85 # base12 - Bright Red
color10 = #0ae78d # base14 - Bright Green
color11 = #fefb67 # base13 - Bright Yellow
color12 = #6095fe # base16 - Bright Blue
color13 = #ff78a2 # base17 - Bright Magenta
color14 = #0ae78d # base15 - Bright Cyan
color15 = #ffffff # base07 - Bright White
color16 = #f5f079 # base09
color17 = #781629 # base0F
color18 = #4c4c4c # base01
color19 = #7f7f7f # base02
color20 = #bdbdbd # base04
color21 = #fbfbfb # base06
