[colors]
# base16 Gotham
# Scheme author: Andrea Leopardi (arranged by Brett Jones)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #599cab
foreground_bold     = #599cab
cursor              = #599cab
cursor_foreground   = #0c1014
background          = #0c1014

color0  = #11151c # base01 - Black
color1  = #c23127 # base08 - Red
color2  = #33859e # base0B - Green
color3  = #edb443 # base0A - Yellow
color4  = #195466 # base0D - Blue
color5  = #888ca6 # base0E - Magenta
color6  = #2aa889 # base0C - Cyan
color7  = #99d1ce # base06 - White
color8  = #091f2e # base02 - Bright Black
color9  = #c23127 # base08 - Bright Red
color10 = #33859e # base0B - Bright Green
color11 = #edb443 # base0A - Bright Yellow
color12 = #195466 # base0D - Bright Blue
color13 = #888ca6 # base0E - Bright Magenta
color14 = #2aa889 # base0C - Bright Cyan
color15 = #d3ebe9 # base07 - Bright White
color16 = #d26937 # base09
color17 = #4e5166 # base0F
color18 = #11151c # base01
color19 = #091f2e # base02
color20 = #245361 # base04
color21 = #99d1ce # base06
