[colors]
# base24 Banana Blueberry
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #c6c9cd
foreground_bold     = #c6c9cd
cursor              = #c6c9cd
cursor_foreground   = #191322
background          = #191322

color0  = #16141e # base01 - Black
color1  = #ff6a7e # base08 - Red
color2  = #00bc9b # base0B - Green
color3  = #91fff3 # base0A - Yellow
color4  = #22e8df # base0D - Blue
color5  = #dc3969 # base0E - Magenta
color6  = #55b6c1 # base0C - Cyan
color7  = #f1f1f1 # base06 - White
color8  = #485161 # base02 - Bright Black
color9  = #fd9ea1 # base12 - Bright Red
color10 = #97c378 # base14 - Bright Green
color11 = #f9e46a # base13 - Bright Yellow
color12 = #91fff3 # base16 - Bright Blue
color13 = #da70d5 # base17 - Bright Magenta
color14 = #bcf2fe # base15 - Bright Cyan
color15 = #feffff # base07 - Bright White
color16 = #e5c62f # base09
color17 = #7f353f # base0F
color18 = #16141e # base01
color19 = #485161 # base02
color20 = #9ca1a9 # base04
color21 = #f1f1f1 # base06
