[colors]
# base16 3024
# Scheme author: Jan T. Sott (http://github.com/idleberg)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #a5a2a2
foreground_bold     = #a5a2a2
cursor              = #a5a2a2
cursor_foreground   = #090300
background          = #090300

color0  = #3a3432 # base01 - Black
color1  = #db2d20 # base08 - Red
color2  = #01a252 # base0B - Green
color3  = #fded02 # base0A - Yellow
color4  = #01a0e4 # base0D - Blue
color5  = #a16a94 # base0E - Magenta
color6  = #b5e4f4 # base0C - Cyan
color7  = #d6d5d4 # base06 - White
color8  = #4a4543 # base02 - Bright Black
color9  = #db2d20 # base08 - Bright Red
color10 = #01a252 # base0B - Bright Green
color11 = #fded02 # base0A - Bright Yellow
color12 = #01a0e4 # base0D - Bright Blue
color13 = #a16a94 # base0E - Bright Magenta
color14 = #b5e4f4 # base0C - Bright Cyan
color15 = #f7f7f7 # base07 - Bright White
color16 = #e8bbd0 # base09
color17 = #cdab53 # base0F
color18 = #3a3432 # base01
color19 = #4a4543 # base02
color20 = #807d7c # base04
color21 = #d6d5d4 # base06
