[colors]
# base24 Fun Forrest
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #c5ab60
foreground_bold     = #c5ab60
cursor              = #c5ab60
cursor_foreground   = #241200
background          = #241200

color0  = #000000 # base01 - Black
color1  = #d5252b # base08 - Red
color2  = #909b00 # base0B - Green
color3  = #7cc9ce # base0A - Yellow
color4  = #4698a2 # base0D - Blue
color5  = #8c4231 # base0E - Magenta
color6  = #d98112 # base0C - Cyan
color7  = #ddc165 # base06 - White
color8  = #7e6954 # base02 - Bright Black
color9  = #e4591b # base12 - Bright Red
color10 = #bfc659 # base14 - Bright Green
color11 = #ffca1b # base13 - Bright Yellow
color12 = #7cc9ce # base16 - Bright Blue
color13 = #d16349 # base17 - Bright Magenta
color14 = #e6a96b # base15 - Bright Cyan
color15 = #ffe9a3 # base07 - Bright White
color16 = #bd8a13 # base09
color17 = #6a1215 # base0F
color18 = #000000 # base01
color19 = #7e6954 # base02
color20 = #ad955c # base04
color21 = #ddc165 # base06
