[colors]
# base24 The Hulk
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #b6b6b1
foreground_bold     = #b6b6b1
cursor              = #b6b6b1
cursor_foreground   = #1b1d1e
background          = #1b1d1e

color0  = #1b1d1e # base01 - Black
color1  = #259d1a # base08 - Red
color2  = #13ce2f # base0B - Green
color3  = #4f6a95 # base0A - Yellow
color4  = #2424f4 # base0D - Blue
color5  = #641e73 # base0E - Magenta
color6  = #378ca9 # base0C - Cyan
color7  = #d8d8d0 # base06 - White
color8  = #505354 # base02 - Bright Black
color9  = #8dff2a # base12 - Bright Red
color10 = #48ff76 # base14 - Bright Green
color11 = #3afe15 # base13 - Bright Yellow
color12 = #4f6a95 # base16 - Bright Blue
color13 = #72579d # base17 - Bright Magenta
color14 = #3f85a5 # base15 - Bright Cyan
color15 = #e5e5e0 # base07 - Bright White
color16 = #62e456 # base09
color17 = #124e0d # base0F
color18 = #1b1d1e # base01
color19 = #505354 # base02
color20 = #949592 # base04
color21 = #d8d8d0 # base06
