[colors]
# base16 Atelier Plateau
# Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #8a8585
foreground_bold     = #8a8585
cursor              = #8a8585
cursor_foreground   = #1b1818
background          = #1b1818

color0  = #292424 # base01 - Black
color1  = #ca4949 # base08 - Red
color2  = #4b8b8b # base0B - Green
color3  = #a06e3b # base0A - Yellow
color4  = #7272ca # base0D - Blue
color5  = #8464c4 # base0E - Magenta
color6  = #5485b6 # base0C - Cyan
color7  = #e7dfdf # base06 - White
color8  = #585050 # base02 - Bright Black
color9  = #ca4949 # base08 - Bright Red
color10 = #4b8b8b # base0B - Bright Green
color11 = #a06e3b # base0A - Bright Yellow
color12 = #7272ca # base0D - Bright Blue
color13 = #8464c4 # base0E - Bright Magenta
color14 = #5485b6 # base0C - Bright Cyan
color15 = #f4ecec # base07 - Bright White
color16 = #b45a3c # base09
color17 = #bd5187 # base0F
color18 = #292424 # base01
color19 = #585050 # base02
color20 = #7e7777 # base04
color21 = #e7dfdf # base06
