[colors]
# base16 Grayscale Dark
# Scheme author: Alexandre Gavioli (https://github.com/Alexx2/)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #b9b9b9
foreground_bold     = #b9b9b9
cursor              = #b9b9b9
cursor_foreground   = #101010
background          = #101010

color0  = #252525 # base01 - Black
color1  = #7c7c7c # base08 - Red
color2  = #8e8e8e # base0B - Green
color3  = #a0a0a0 # base0A - Yellow
color4  = #686868 # base0D - Blue
color5  = #747474 # base0E - Magenta
color6  = #868686 # base0C - Cyan
color7  = #e3e3e3 # base06 - White
color8  = #464646 # base02 - Bright Black
color9  = #7c7c7c # base08 - Bright Red
color10 = #8e8e8e # base0B - Bright Green
color11 = #a0a0a0 # base0A - Bright Yellow
color12 = #686868 # base0D - Bright Blue
color13 = #747474 # base0E - Bright Magenta
color14 = #868686 # base0C - Bright Cyan
color15 = #f7f7f7 # base07 - Bright White
color16 = #999999 # base09
color17 = #5e5e5e # base0F
color18 = #252525 # base01
color19 = #464646 # base02
color20 = #ababab # base04
color21 = #e3e3e3 # base06
