[colors]
# base24 Material
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #c3c3c3
foreground_bold     = #c3c3c3
cursor              = #c3c3c3
cursor_foreground   = #eaeaea
background          = #eaeaea

color0  = #212121 # base01 - Black
color1  = #b7141e # base08 - Red
color2  = #457b23 # base0B - Green
color3  = #53a4f3 # base0A - Yellow
color4  = #134eb2 # base0D - Blue
color5  = #550087 # base0E - Magenta
color6  = #0e707c # base0C - Cyan
color7  = #eeeeee # base06 - White
color8  = #424242 # base02 - Bright Black
color9  = #e83a3f # base12 - Bright Red
color10 = #7aba39 # base14 - Bright Green
color11 = #fee92e # base13 - Bright Yellow
color12 = #53a4f3 # base16 - Bright Blue
color13 = #a94dbb # base17 - Bright Magenta
color14 = #26bad1 # base15 - Bright Cyan
color15 = #d8d8d8 # base07 - Bright White
color16 = #f5971d # base09
color17 = #5b0a0f # base0F
color18 = #212121 # base01
color19 = #424242 # base02
color20 = #989898 # base04
color21 = #eeeeee # base06
