[colors]
# base16 Qualia
# Scheme author: isaacwhanson
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #c0c0c0
foreground_bold     = #c0c0c0
cursor              = #c0c0c0
cursor_foreground   = #101010
background          = #101010

color0  = #454545 # base01 - Black
color1  = #efa6a2 # base08 - Red
color2  = #80c990 # base0B - Green
color3  = #e6a3dc # base0A - Yellow
color4  = #50cacd # base0D - Blue
color5  = #e0af85 # base0E - Magenta
color6  = #c8c874 # base0C - Cyan
color7  = #c0c0c0 # base06 - White
color8  = #454545 # base02 - Bright Black
color9  = #efa6a2 # base08 - Bright Red
color10 = #80c990 # base0B - Bright Green
color11 = #e6a3dc # base0A - Bright Yellow
color12 = #50cacd # base0D - Bright Blue
color13 = #e0af85 # base0E - Bright Magenta
color14 = #c8c874 # base0C - Bright Cyan
color15 = #454545 # base07 - Bright White
color16 = #a3b8ef # base09
color17 = #808080 # base0F
color18 = #454545 # base01
color19 = #454545 # base02
color20 = #808080 # base04
color21 = #c0c0c0 # base06
