[colors]
# base24 Flat
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #8c939a
foreground_bold     = #8c939a
cursor              = #8c939a
cursor_foreground   = #082845
background          = #082845

color0  = #1d2845 # base01 - Black
color1  = #a82320 # base08 - Red
color2  = #2d9440 # base0B - Green
color3  = #3c7dd2 # base0A - Yellow
color4  = #3167ac # base0D - Blue
color5  = #781aa0 # base0E - Magenta
color6  = #2c9370 # base0C - Cyan
color7  = #b0b6ba # base06 - White
color8  = #2e2e45 # base02 - Bright Black
color9  = #d4312e # base12 - Bright Red
color10 = #32a548 # base14 - Bright Green
color11 = #e5be0c # base13 - Bright Yellow
color12 = #3c7dd2 # base16 - Bright Blue
color13 = #8230a7 # base17 - Bright Magenta
color14 = #35b387 # base15 - Bright Cyan
color15 = #e7eced # base07 - Bright White
color16 = #e58d11 # base09
color17 = #541110 # base0F
color18 = #1d2845 # base01
color19 = #2e2e45 # base02
color20 = #68717b # base04
color21 = #b0b6ba # base06
