[colors]
# base16 selenized-black
# Scheme author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #b9b9b9
foreground_bold     = #b9b9b9
cursor              = #b9b9b9
cursor_foreground   = #181818
background          = #181818

color0  = #252525 # base01 - Black
color1  = #ed4a46 # base08 - Red
color2  = #70b433 # base0B - Green
color3  = #dbb32d # base0A - Yellow
color4  = #368aeb # base0D - Blue
color5  = #a580e2 # base0E - Magenta
color6  = #3fc5b7 # base0C - Cyan
color7  = #dedede # base06 - White
color8  = #3b3b3b # base02 - Bright Black
color9  = #ed4a46 # base08 - Bright Red
color10 = #70b433 # base0B - Bright Green
color11 = #dbb32d # base0A - Bright Yellow
color12 = #368aeb # base0D - Bright Blue
color13 = #a580e2 # base0E - Bright Magenta
color14 = #3fc5b7 # base0C - Bright Cyan
color15 = #dedede # base07 - Bright White
color16 = #e67f43 # base09
color17 = #eb6eb7 # base0F
color18 = #252525 # base01
color19 = #3b3b3b # base02
color20 = #777777 # base04
color21 = #dedede # base06
