[colors]
# base16 Atelier Forest
# Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #a8a19f
foreground_bold     = #a8a19f
cursor              = #a8a19f
cursor_foreground   = #1b1918
background          = #1b1918

color0  = #2c2421 # base01 - Black
color1  = #f22c40 # base08 - Red
color2  = #7b9726 # base0B - Green
color3  = #c38418 # base0A - Yellow
color4  = #407ee7 # base0D - Blue
color5  = #6666ea # base0E - Magenta
color6  = #3d97b8 # base0C - Cyan
color7  = #e6e2e0 # base06 - White
color8  = #68615e # base02 - Bright Black
color9  = #f22c40 # base08 - Bright Red
color10 = #7b9726 # base0B - Bright Green
color11 = #c38418 # base0A - Bright Yellow
color12 = #407ee7 # base0D - Bright Blue
color13 = #6666ea # base0E - Bright Magenta
color14 = #3d97b8 # base0C - Bright Cyan
color15 = #f1efee # base07 - Bright White
color16 = #df5320 # base09
color17 = #c33ff3 # base0F
color18 = #2c2421 # base01
color19 = #68615e # base02
color20 = #9c9491 # base04
color21 = #e6e2e0 # base06
