[colors]
# base16 PaperColor Dark
# Scheme author: Jon Leopard (http://github.com/jonleopard), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #808080
foreground_bold     = #808080
cursor              = #808080
cursor_foreground   = #1c1c1c
background          = #1c1c1c

color0  = #af005f # base01 - Black
color1  = #585858 # base08 - Red
color2  = #af87d7 # base0B - Green
color3  = #afd700 # base0A - Yellow
color4  = #ff5faf # base0D - Blue
color5  = #00afaf # base0E - Magenta
color6  = #ffaf00 # base0C - Cyan
color7  = #d7875f # base06 - White
color8  = #5faf00 # base02 - Bright Black
color9  = #585858 # base08 - Bright Red
color10 = #af87d7 # base0B - Bright Green
color11 = #afd700 # base0A - Bright Yellow
color12 = #ff5faf # base0D - Bright Blue
color13 = #00afaf # base0E - Bright Magenta
color14 = #ffaf00 # base0C - Bright Cyan
color15 = #d0d0d0 # base07 - Bright White
color16 = #5faf5f # base09
color17 = #5f8787 # base0F
color18 = #af005f # base01
color19 = #5faf00 # base02
color20 = #5fafd7 # base04
color21 = #d7875f # base06
