[colors]
# base16 Marrakesh
# Scheme author: Alexandre Gavioli (http://github.com/Alexx2/)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #948e48
foreground_bold     = #948e48
cursor              = #948e48
cursor_foreground   = #201602
background          = #201602

color0  = #302e00 # base01 - Black
color1  = #c35359 # base08 - Red
color2  = #18974e # base0B - Green
color3  = #a88339 # base0A - Yellow
color4  = #477ca1 # base0D - Blue
color5  = #8868b3 # base0E - Magenta
color6  = #75a738 # base0C - Cyan
color7  = #ccc37a # base06 - White
color8  = #5f5b17 # base02 - Bright Black
color9  = #c35359 # base08 - Bright Red
color10 = #18974e # base0B - Bright Green
color11 = #a88339 # base0A - Bright Yellow
color12 = #477ca1 # base0D - Bright Blue
color13 = #8868b3 # base0E - Bright Magenta
color14 = #75a738 # base0C - Bright Cyan
color15 = #faf0a5 # base07 - Bright White
color16 = #b36144 # base09
color17 = #b3588e # base0F
color18 = #302e00 # base01
color19 = #5f5b17 # base02
color20 = #86813b # base04
color21 = #ccc37a # base06
