[colors]
# base24 Warm Neon
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #dcc9ba
foreground_bold     = #dcc9ba
cursor              = #dcc9ba
cursor_foreground   = #3f3f3f
background          = #3f3f3f

color0  = #000000 # base01 - Black
color1  = #e24345 # base08 - Red
color2  = #38b139 # base0B - Green
color3  = #7a90d5 # base0A - Yellow
color4  = #4260c5 # base0D - Blue
color5  = #f81ffb # base0E - Magenta
color6  = #29bad3 # base0C - Cyan
color7  = #d0b8a3 # base06 - White
color8  = #fdfcfc # base02 - Bright Black
color9  = #e86f71 # base12 - Bright Red
color10 = #9bc08f # base14 - Bright Green
color11 = #ddd979 # base13 - Bright Yellow
color12 = #7a90d5 # base16 - Bright Blue
color13 = #f674b9 # base17 - Bright Magenta
color14 = #5ed1e4 # base15 - Bright Cyan
color15 = #d8c8bb # base07 - Bright White
color16 = #dae145 # base09
color17 = #712122 # base0F
color18 = #000000 # base01
color19 = #fdfcfc # base02
color20 = #e7dad0 # base04
color21 = #d0b8a3 # base06
