[colors]
# base24 Bluloco Light
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #38383a
foreground_bold     = #38383a
cursor              = #38383a
cursor_foreground   = #f7f7f7
background          = #f7f7f7

color0  = #cbccd4 # base01 - Black
color1  = #c80d41 # base08 - Red
color2  = #208839 # base0B - Green
color3  = #1085d9 # base0A - Yellow
color4  = #1d44dd # base0D - Blue
color5  = #6d1bed # base0E - Magenta
color6  = #1e4d7a # base0C - Cyan
color7  = #000000 # base06 - White
color8  = #dddee8 # base02 - Bright Black
color9  = #fb496d # base12 - Bright Red
color10 = #34b253 # base14 - Bright Green
color11 = #b79326 # base13 - Bright Yellow
color12 = #1085d9 # base16 - Bright Blue
color13 = #c00cb2 # base17 - Bright Magenta
color14 = #5a7fac # base15 - Bright Cyan
color15 = #1c1d21 # base07 - Bright White
color16 = #d44d16 # base09
color17 = #640620 # base0F
color18 = #cbccd4 # base01
color19 = #dddee8 # base02
color20 = #6f6f74 # base04
color21 = #000000 # base06
