[colors]
# base16 Framer
# Scheme author: Framer (Maintained by Jesse Hoyos)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #d0d0d0
foreground_bold     = #d0d0d0
cursor              = #d0d0d0
cursor_foreground   = #181818
background          = #181818

color0  = #151515 # base01 - Black
color1  = #fd886b # base08 - Red
color2  = #32ccdc # base0B - Green
color3  = #fecb6e # base0A - Yellow
color4  = #20bcfc # base0D - Blue
color5  = #ba8cfc # base0E - Magenta
color6  = #acddfd # base0C - Cyan
color7  = #e8e8e8 # base06 - White
color8  = #464646 # base02 - Bright Black
color9  = #fd886b # base08 - Bright Red
color10 = #32ccdc # base0B - Bright Green
color11 = #fecb6e # base0A - Bright Yellow
color12 = #20bcfc # base0D - Bright Blue
color13 = #ba8cfc # base0E - Bright Magenta
color14 = #acddfd # base0C - Bright Cyan
color15 = #eeeeee # base07 - Bright White
color16 = #fc4769 # base09
color17 = #b15f4a # base0F
color18 = #151515 # base01
color19 = #464646 # base02
color20 = #b9b9b9 # base04
color21 = #e8e8e8 # base06
