[colors]
# base16 Chicago Day
# Scheme author: Wendell, Ryan &lt;ryanjwendell@gmail.com&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #364c40
foreground_bold     = #364c40
cursor              = #364c40
cursor_foreground   = #e8f0ea
background          = #e8f0ea

color0  = #d1e0d7 # base01 - Black
color1  = #c60c30 # base08 - Red
color2  = #009b3a # base0B - Green
color3  = #968400 # base0A - Yellow
color4  = #522398 # base0D - Blue
color5  = #e27ea6 # base0E - Magenta
color6  = #00a1de # base0C - Cyan
color7  = #2a3b32 # base06 - White
color8  = #b9d0c3 # base02 - Bright Black
color9  = #c60c30 # base08 - Bright Red
color10 = #009b3a # base0B - Bright Green
color11 = #968400 # base0A - Bright Yellow
color12 = #522398 # base0D - Bright Blue
color13 = #e27ea6 # base0E - Bright Magenta
color14 = #00a1de # base0C - Bright Cyan
color15 = #1e2a24 # base07 - Bright White
color16 = #f9461c # base09
color17 = #62361b # base0F
color18 = #d1e0d7 # base01
color19 = #b9d0c3 # base02
color20 = #4b5a51 # base04
color21 = #2a3b32 # base06
