[colors]
# base16 dirtysea
# Scheme author: Kahlil (Kal) Hodgson
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #000000
foreground_bold     = #000000
cursor              = #000000
cursor_foreground   = #e0e0e0
background          = #e0e0e0

color0  = #d0dad0 # base01 - Black
color1  = #840000 # base08 - Red
color2  = #730073 # base0B - Green
color3  = #755b00 # base0A - Yellow
color4  = #007300 # base0D - Blue
color5  = #000090 # base0E - Magenta
color6  = #755b00 # base0C - Cyan
color7  = #f8f8f8 # base06 - White
color8  = #d0d0d0 # base02 - Bright Black
color9  = #840000 # base08 - Bright Red
color10 = #730073 # base0B - Bright Green
color11 = #755b00 # base0A - Bright Yellow
color12 = #007300 # base0D - Bright Blue
color13 = #000090 # base0E - Bright Magenta
color14 = #755b00 # base0C - Bright Cyan
color15 = #c4d9c4 # base07 - Bright White
color16 = #006565 # base09
color17 = #755b00 # base0F
color18 = #d0dad0 # base01
color19 = #d0d0d0 # base02
color20 = #202020 # base04
color21 = #f8f8f8 # base06
