[colors]
# base16 Tomorrow
# Scheme author: Chris Kempson (http://chriskempson.com)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #373b41
foreground_bold     = #373b41
cursor              = #373b41
cursor_foreground   = #ffffff
background          = #ffffff

color0  = #e0e0e0 # base01 - Black
color1  = #c82829 # base08 - Red
color2  = #718c00 # base0B - Green
color3  = #eab700 # base0A - Yellow
color4  = #4271ae # base0D - Blue
color5  = #8959a8 # base0E - Magenta
color6  = #3e999f # base0C - Cyan
color7  = #282a2e # base06 - White
color8  = #c5c8c6 # base02 - Bright Black
color9  = #c82829 # base08 - Bright Red
color10 = #718c00 # base0B - Bright Green
color11 = #eab700 # base0A - Bright Yellow
color12 = #4271ae # base0D - Bright Blue
color13 = #8959a8 # base0E - Bright Magenta
color14 = #3e999f # base0C - Bright Cyan
color15 = #1d1f21 # base07 - Bright White
color16 = #f5871f # base09
color17 = #a3685a # base0F
color18 = #e0e0e0 # base01
color19 = #c5c8c6 # base02
color20 = #969896 # base04
color21 = #282a2e # base06
