[colors]
# base24 Gruvbox Dark
# Scheme author: Tinted Theming (https://github.com/tinted-theming), morhetz (https://github.com/morhetz/gruvbox)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #ebdbb2
foreground_bold     = #ebdbb2
cursor              = #ebdbb2
cursor_foreground   = #282828
background          = #282828

color0  = #3c3836 # base01 - Black
color1  = #cc241d # base08 - Red
color2  = #98971a # base0B - Green
color3  = #d79921 # base0A - Yellow
color4  = #458588 # base0D - Blue
color5  = #b16286 # base0E - Magenta
color6  = #689d6a # base0C - Cyan
color7  = #fbf1c7 # base06 - White
color8  = #504945 # base02 - Bright Black
color9  = #fb4934 # base12 - Bright Red
color10 = #b8bb26 # base14 - Bright Green
color11 = #fabd2f # base13 - Bright Yellow
color12 = #83a598 # base16 - Bright Blue
color13 = #d3869b # base17 - Bright Magenta
color14 = #8ec07c # base15 - Bright Cyan
color15 = #f9f5d7 # base07 - Bright White
color16 = #d65d0e # base09
color17 = #9d0006 # base0F
color18 = #3c3836 # base01
color19 = #504945 # base02
color20 = #928374 # base04
color21 = #fbf1c7 # base06
