[colors]
# base24 Twilight
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #c8c8a7
foreground_bold     = #c8c8a7
cursor              = #c8c8a7
cursor_foreground   = #141414
background          = #141414

color0  = #141414 # base01 - Black
color1  = #c06c43 # base08 - Red
color2  = #afb979 # base0B - Green
color3  = #5a5d61 # base0A - Yellow
color4  = #444649 # base0D - Blue
color5  = #b4be7b # base0E - Magenta
color6  = #778284 # base0C - Cyan
color7  = #feffd3 # base06 - White
color8  = #262626 # base02 - Bright Black
color9  = #dd7c4c # base12 - Bright Red
color10 = #cbd88c # base14 - Bright Green
color11 = #e1c47d # base13 - Bright Yellow
color12 = #5a5d61 # base16 - Bright Blue
color13 = #d0db8e # base17 - Bright Magenta
color14 = #8a989a # base15 - Bright Cyan
color15 = #feffd3 # base07 - Bright White
color16 = #c2a86c # base09
color17 = #603621 # base0F
color18 = #141414 # base01
color19 = #262626 # base02
color20 = #92927c # base04
color21 = #feffd3 # base06
