[colors]
# base16 Atelier Heath
# Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #ab9bab
foreground_bold     = #ab9bab
cursor              = #ab9bab
cursor_foreground   = #1b181b
background          = #1b181b

color0  = #292329 # base01 - Black
color1  = #ca402b # base08 - Red
color2  = #918b3b # base0B - Green
color3  = #bb8a35 # base0A - Yellow
color4  = #516aec # base0D - Blue
color5  = #7b59c0 # base0E - Magenta
color6  = #159393 # base0C - Cyan
color7  = #d8cad8 # base06 - White
color8  = #695d69 # base02 - Bright Black
color9  = #ca402b # base08 - Bright Red
color10 = #918b3b # base0B - Bright Green
color11 = #bb8a35 # base0A - Bright Yellow
color12 = #516aec # base0D - Bright Blue
color13 = #7b59c0 # base0E - Bright Magenta
color14 = #159393 # base0C - Bright Cyan
color15 = #f7f3f7 # base07 - Bright White
color16 = #a65926 # base09
color17 = #cc33cc # base0F
color18 = #292329 # base01
color19 = #695d69 # base02
color20 = #9e8f9e # base04
color21 = #d8cad8 # base06
