[colors]
# base16 Dark Violet
# Scheme author: ruler501 (https://github.com/ruler501/base16-darkviolet)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #b08ae6
foreground_bold     = #b08ae6
cursor              = #b08ae6
cursor_foreground   = #000000
background          = #000000

color0  = #231a40 # base01 - Black
color1  = #a82ee6 # base08 - Red
color2  = #4595e6 # base0B - Green
color3  = #f29df2 # base0A - Yellow
color4  = #4136d9 # base0D - Blue
color5  = #7e5ce6 # base0E - Magenta
color6  = #40dfff # base0C - Cyan
color7  = #9045e6 # base06 - White
color8  = #432d59 # base02 - Bright Black
color9  = #a82ee6 # base08 - Bright Red
color10 = #4595e6 # base0B - Bright Green
color11 = #f29df2 # base0A - Bright Yellow
color12 = #4136d9 # base0D - Bright Blue
color13 = #7e5ce6 # base0E - Bright Magenta
color14 = #40dfff # base0C - Bright Cyan
color15 = #a366ff # base07 - Bright White
color16 = #bb66cc # base09
color17 = #a886bf # base0F
color18 = #231a40 # base01
color19 = #432d59 # base02
color20 = #00ff00 # base04
color21 = #9045e6 # base06
