[colors]
# base16 Tokyodark
# Scheme author: Jamy Golden (https://github.com/JamyGolden), Based on Tokyodark.nvim (https://github.com/tiagovla/tokyodark.nvim)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #a0a8cd
foreground_bold     = #a0a8cd
cursor              = #a0a8cd
cursor_foreground   = #11121d
background          = #11121d

color0  = #212234 # base01 - Black
color1  = #ee6d85 # base08 - Red
color2  = #95c561 # base0B - Green
color3  = #d7a65f # base0A - Yellow
color4  = #7199ee # base0D - Blue
color5  = #a485dd # base0E - Magenta
color6  = #9fbbf3 # base0C - Cyan
color7  = #abb2bf # base06 - White
color8  = #212234 # base02 - Bright Black
color9  = #ee6d85 # base08 - Bright Red
color10 = #95c561 # base0B - Bright Green
color11 = #d7a65f # base0A - Bright Yellow
color12 = #7199ee # base0D - Bright Blue
color13 = #a485dd # base0E - Bright Magenta
color14 = #9fbbf3 # base0C - Bright Cyan
color15 = #bcc2dc # base07 - Bright White
color16 = #f6955b # base09
color17 = #773440 # base0F
color18 = #212234 # base01
color19 = #212234 # base02
color20 = #4a5057 # base04
color21 = #abb2bf # base06
