[colors]
# base16 Aztec
# Scheme author: TheNeverMan (github.com/TheNeverMan)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #ffda51
foreground_bold     = #ffda51
cursor              = #ffda51
cursor_foreground   = #101600
background          = #101600

color0  = #1a1e01 # base01 - Black
color1  = #ee2e00 # base08 - Red
color2  = #63d932 # base0B - Green
color3  = #eebb00 # base0A - Yellow
color4  = #5b4a9f # base0D - Blue
color5  = #883e9f # base0E - Magenta
color6  = #3d94a5 # base0C - Cyan
color7  = #ffe178 # base06 - White
color8  = #242604 # base02 - Bright Black
color9  = #ee2e00 # base08 - Bright Red
color10 = #63d932 # base0B - Bright Green
color11 = #eebb00 # base0A - Bright Yellow
color12 = #5b4a9f # base0D - Bright Blue
color13 = #883e9f # base0E - Bright Magenta
color14 = #3d94a5 # base0C - Bright Cyan
color15 = #ffeba0 # base07 - Bright White
color16 = #ee8800 # base09
color17 = #a928b9 # base0F
color18 = #1a1e01 # base01
color19 = #242604 # base02
color20 = #ffd129 # base04
color21 = #ffe178 # base06
