[colors]
# base24 Mission Brogue
# Scheme author: Thomas Leon Highbaugh
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #93a5b4
foreground_bold     = #93a5b4
cursor              = #93a5b4
cursor_foreground   = #283139
background          = #283139

color0  = #3b4954 # base01 - Black
color1  = #efa9a9 # base08 - Red
color2  = #8cd4b0 # base0B - Green
color3  = #e0b88a # base0A - Yellow
color4  = #a2c5fd # base0D - Blue
color5  = #ccb7db # base0E - Magenta
color6  = #93dfec # base0C - Cyan
color7  = #abb9c4 # base06 - White
color8  = #4d606f # base02 - Bright Black
color9  = #f6bfbf # base12 - Bright Red
color10 = #b5e090 # base14 - Bright Green
color11 = #fff0b2 # base13 - Bright Yellow
color12 = #c3d9fd # base16 - Bright Blue
color13 = #e3c3e6 # base17 - Bright Magenta
color14 = #b2f0fd # base15 - Bright Cyan
color15 = #e7ebee # base07 - Bright White
color16 = #f2db78 # base09
color17 = #8e9ecb # base0F
color18 = #3b4954 # base01
color19 = #4d606f # base02
color20 = #788ea1 # base04
color21 = #abb9c4 # base06
