[colors]
# base24 Square
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #bababa
foreground_bold     = #bababa
cursor              = #bababa
cursor_foreground   = #1a1a1a
background          = #1a1a1a

color0  = #050505 # base01 - Black
color1  = #e9897c # base08 - Red
color2  = #b6377d # base0B - Green
color3  = #b6defb # base0A - Yellow
color4  = #a9cdeb # base0D - Blue
color5  = #75507b # base0E - Magenta
color6  = #c9caec # base0C - Cyan
color7  = #f2f2f2 # base06 - White
color8  = #141414 # base02 - Bright Black
color9  = #f99286 # base12 - Bright Red
color10 = #c3f786 # base14 - Bright Green
color11 = #fcfbcc # base13 - Bright Yellow
color12 = #b6defb # base16 - Bright Blue
color13 = #ad7fa8 # base17 - Bright Magenta
color14 = #d7d9fc # base15 - Bright Cyan
color15 = #e2e2e2 # base07 - Bright White
color16 = #ecebbe # base09
color17 = #74443e # base0F
color18 = #050505 # base01
color19 = #141414 # base02
color20 = #838383 # base04
color21 = #f2f2f2 # base06
