[colors]
# base16 Github
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #424a53
foreground_bold     = #424a53
cursor              = #424a53
cursor_foreground   = #eaeef2
background          = #eaeef2

color0  = #d0d7de # base01 - Black
color1  = #fa4549 # base08 - Red
color2  = #2da44e # base0B - Green
color3  = #bf8700 # base0A - Yellow
color4  = #218bff # base0D - Blue
color5  = #a475f9 # base0E - Magenta
color6  = #339d9b # base0C - Cyan
color7  = #32383f # base06 - White
color8  = #afb8c1 # base02 - Bright Black
color9  = #fa4549 # base08 - Bright Red
color10 = #2da44e # base0B - Bright Green
color11 = #bf8700 # base0A - Bright Yellow
color12 = #218bff # base0D - Bright Blue
color13 = #a475f9 # base0E - Bright Magenta
color14 = #339d9b # base0C - Bright Cyan
color15 = #1f2328 # base07 - Bright White
color16 = #e16f24 # base09
color17 = #4d2d00 # base0F
color18 = #d0d7de # base01
color19 = #afb8c1 # base02
color20 = #6e7781 # base04
color21 = #32383f # base06
