[colors]
# base16 Penumbra Dark Contrast Plus Plus
# Scheme author: Zachary Weiss (https://github.com/zacharyweiss)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #dedede
foreground_bold     = #dedede
cursor              = #dedede
cursor_foreground   = #0d0f13
background          = #0d0f13

color0  = #181b1f # base01 - Black
color1  = #f58c81 # base08 - Red
color2  = #54c794 # base0B - Green
color3  = #a9b852 # base0A - Yellow
color4  = #6eb2fd # base0D - Blue
color5  = #b69cf6 # base0E - Magenta
color6  = #00c4d7 # base0C - Cyan
color7  = #fff7ed # base06 - White
color8  = #3e4044 # base02 - Bright Black
color9  = #f58c81 # base08 - Bright Red
color10 = #54c794 # base0B - Bright Green
color11 = #a9b852 # base0A - Bright Yellow
color12 = #6eb2fd # base0D - Bright Blue
color13 = #b69cf6 # base0E - Bright Magenta
color14 = #00c4d7 # base0C - Bright Cyan
color15 = #fffdfb # base07 - Bright White
color16 = #e09f47 # base09
color17 = #e58cc5 # base0F
color18 = #181b1f # base01
color19 = #3e4044 # base02
color20 = #aeaeae # base04
color21 = #fff7ed # base06
