[colors]
# base24 Argonaut
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #d0d0d0
foreground_bold     = #d0d0d0
cursor              = #d0d0d0
cursor_foreground   = #0d0f18
background          = #0d0f18

color0  = #222222 # base01 - Black
color1  = #ff000f # base08 - Red
color2  = #8ce00a # base0B - Green
color3  = #0092ff # base0A - Yellow
color4  = #008df8 # base0D - Blue
color5  = #6c43a5 # base0E - Magenta
color6  = #00d7eb # base0C - Cyan
color7  = #ffffff # base06 - White
color8  = #444444 # base02 - Bright Black
color9  = #ff273f # base12 - Bright Red
color10 = #abe05a # base14 - Bright Green
color11 = #ffd141 # base13 - Bright Yellow
color12 = #0092ff # base16 - Bright Blue
color13 = #9a5feb # base17 - Bright Magenta
color14 = #67ffef # base15 - Bright Cyan
color15 = #ffffff # base07 - Bright White
color16 = #ffb900 # base09
color17 = #7f0007 # base0F
color18 = #222222 # base01
color19 = #444444 # base02
color20 = #a1a1a1 # base04
color21 = #ffffff # base06
