[colors]
# base16 Materia
# Scheme author: Defman21
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #cdd3de
foreground_bold     = #cdd3de
cursor              = #cdd3de
cursor_foreground   = #263238
background          = #263238

color0  = #2c393f # base01 - Black
color1  = #ec5f67 # base08 - Red
color2  = #8bd649 # base0B - Green
color3  = #ffcc00 # base0A - Yellow
color4  = #89ddff # base0D - Blue
color5  = #82aaff # base0E - Magenta
color6  = #80cbc4 # base0C - Cyan
color7  = #d5dbe5 # base06 - White
color8  = #37474f # base02 - Bright Black
color9  = #ec5f67 # base08 - Bright Red
color10 = #8bd649 # base0B - Bright Green
color11 = #ffcc00 # base0A - Bright Yellow
color12 = #89ddff # base0D - Bright Blue
color13 = #82aaff # base0E - Bright Magenta
color14 = #80cbc4 # base0C - Bright Cyan
color15 = #ffffff # base07 - Bright White
color16 = #ea9560 # base09
color17 = #ec5f67 # base0F
color18 = #2c393f # base01
color19 = #37474f # base02
color20 = #c9ccd3 # base04
color21 = #d5dbe5 # base06
