[colors]
# base16 Sandcastle
# Scheme author: George Essig (https://github.com/gessig)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #a89984
foreground_bold     = #a89984
cursor              = #a89984
cursor_foreground   = #282c34
background          = #282c34

color0  = #2c323b # base01 - Black
color1  = #83a598 # base08 - Red
color2  = #528b8b # base0B - Green
color3  = #a07e3b # base0A - Yellow
color4  = #83a598 # base0D - Blue
color5  = #d75f5f # base0E - Magenta
color6  = #83a598 # base0C - Cyan
color7  = #d5c4a1 # base06 - White
color8  = #3e4451 # base02 - Bright Black
color9  = #83a598 # base08 - Bright Red
color10 = #528b8b # base0B - Bright Green
color11 = #a07e3b # base0A - Bright Yellow
color12 = #83a598 # base0D - Bright Blue
color13 = #d75f5f # base0E - Bright Magenta
color14 = #83a598 # base0C - Bright Cyan
color15 = #fdf4c1 # base07 - Bright White
color16 = #a07e3b # base09
color17 = #a87322 # base0F
color18 = #2c323b # base01
color19 = #3e4451 # base02
color20 = #928374 # base04
color21 = #d5c4a1 # base06
