[colors]
# base24 Builtin Tango Light
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #b3b7b0
foreground_bold     = #b3b7b0
cursor              = #b3b7b0
cursor_foreground   = #ffffff
background          = #ffffff

color0  = #000000 # base01 - Black
color1  = #cc0000 # base08 - Red
color2  = #4e9a05 # base0B - Green
color3  = #719ecf # base0A - Yellow
color4  = #3464a4 # base0D - Blue
color5  = #74507a # base0E - Magenta
color6  = #05989a # base0C - Cyan
color7  = #d3d7cf # base06 - White
color8  = #545753 # base02 - Bright Black
color9  = #ef2828 # base12 - Bright Red
color10 = #8ae234 # base14 - Bright Green
color11 = #fce94e # base13 - Bright Yellow
color12 = #719ecf # base16 - Bright Blue
color13 = #ad7ea7 # base17 - Bright Magenta
color14 = #34e2e2 # base15 - Bright Cyan
color15 = #ededec # base07 - Bright White
color16 = #c4a000 # base09
color17 = #660000 # base0F
color18 = #000000 # base01
color19 = #545753 # base02
color20 = #939791 # base04
color21 = #d3d7cf # base06
