[colors]
# base16 Blue Forest
# Scheme author: alonsodomin (https://github.com/alonsodomin)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #ffcc33
foreground_bold     = #ffcc33
cursor              = #ffcc33
cursor_foreground   = #141f2e
background          = #141f2e

color0  = #1e5c1e # base01 - Black
color1  = #fffab1 # base08 - Red
color2  = #80ff80 # base0B - Green
color3  = #91ccff # base0A - Yellow
color4  = #a2cff5 # base0D - Blue
color5  = #0099ff # base0E - Magenta
color6  = #80ff80 # base0C - Cyan
color7  = #91ccff # base06 - White
color8  = #273e5c # base02 - Bright Black
color9  = #fffab1 # base08 - Bright Red
color10 = #80ff80 # base0B - Bright Green
color11 = #91ccff # base0A - Bright Yellow
color12 = #a2cff5 # base0D - Bright Blue
color13 = #0099ff # base0E - Bright Magenta
color14 = #80ff80 # base0C - Bright Cyan
color15 = #375780 # base07 - Bright White
color16 = #ff8080 # base09
color17 = #e7e7e7 # base0F
color18 = #1e5c1e # base01
color19 = #273e5c # base02
color20 = #1e5c1e # base04
color21 = #91ccff # base06
