[colors]
# base16 Solar Flare
# Scheme author: Chuck Harmston (https://chuck.harmston.ch)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #a6afb8
foreground_bold     = #a6afb8
cursor              = #a6afb8
cursor_foreground   = #18262f
background          = #18262f

color0  = #222e38 # base01 - Black
color1  = #ef5253 # base08 - Red
color2  = #7cc844 # base0B - Green
color3  = #e4b51c # base0A - Yellow
color4  = #33b5e1 # base0D - Blue
color5  = #a363d5 # base0E - Magenta
color6  = #52cbb0 # base0C - Cyan
color7  = #e8e9ed # base06 - White
color8  = #586875 # base02 - Bright Black
color9  = #ef5253 # base08 - Bright Red
color10 = #7cc844 # base0B - Bright Green
color11 = #e4b51c # base0A - Bright Yellow
color12 = #33b5e1 # base0D - Bright Blue
color13 = #a363d5 # base0E - Bright Magenta
color14 = #52cbb0 # base0C - Bright Cyan
color15 = #f5f7fa # base07 - Bright White
color16 = #e66b2b # base09
color17 = #d73c9a # base0F
color18 = #222e38 # base01
color19 = #586875 # base02
color20 = #85939e # base04
color21 = #e8e9ed # base06
