[colors]
# base16 Primer Light
# Scheme author: Jimmy Lin
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #2f363d
foreground_bold     = #2f363d
cursor              = #2f363d
cursor_foreground   = #fafbfc
background          = #fafbfc

color0  = #e1e4e8 # base01 - Black
color1  = #d73a49 # base08 - Red
color2  = #28a745 # base0B - Green
color3  = #ffd33d # base0A - Yellow
color4  = #0366d6 # base0D - Blue
color5  = #ea4aaa # base0E - Magenta
color6  = #79b8ff # base0C - Cyan
color7  = #24292e # base06 - White
color8  = #d1d5da # base02 - Bright Black
color9  = #d73a49 # base08 - Bright Red
color10 = #28a745 # base0B - Bright Green
color11 = #ffd33d # base0A - Bright Yellow
color12 = #0366d6 # base0D - Bright Blue
color13 = #ea4aaa # base0E - Bright Magenta
color14 = #79b8ff # base0C - Bright Cyan
color15 = #1b1f23 # base07 - Bright White
color16 = #f66a0a # base09
color17 = #a04100 # base0F
color18 = #e1e4e8 # base01
color19 = #d1d5da # base02
color20 = #444d56 # base04
color21 = #24292e # base06
