[colors]
# base16 Railscasts
# Scheme author: Ryan Bates (http://railscasts.com)
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-termite)

foreground          = #e6e1dc
foreground_bold     = #e6e1dc
cursor              = #e6e1dc
cursor_foreground   = #2b2b2b
background          = #2b2b2b

color0  = #272935 # base01 - Black
color1  = #da4939 # base08 - Red
color2  = #a5c261 # base0B - Green
color3  = #ffc66d # base0A - Yellow
color4  = #6d9cbe # base0D - Blue
color5  = #b6b3eb # base0E - Magenta
color6  = #519f50 # base0C - Cyan
color7  = #f4f1ed # base06 - White
color8  = #3a4055 # base02 - Bright Black
color9  = #da4939 # base08 - Bright Red
color10 = #a5c261 # base0B - Bright Green
color11 = #ffc66d # base0A - Bright Yellow
color12 = #6d9cbe # base0D - Bright Blue
color13 = #b6b3eb # base0E - Bright Magenta
color14 = #519f50 # base0C - Bright Cyan
color15 = #f9f7f3 # base07 - Bright White
color16 = #cc7833 # base09
color17 = #bc9458 # base0F
color18 = #272935 # base01
color19 = #3a4055 # base02
color20 = #d4cfc9 # base04
color21 = #f4f1ed # base06
