<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MigrationUtilitiesCurrentBundleIdentifer</key>
	<string>org.pqrs.Karabiner</string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>734 748 400 129 0 0 1440 877 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>772 104 620 392 0 0 1440 877 </string>
	<key>NSWindow Frame SUUpdateAlertFrame</key>
	<string>992 788 575 392 0 0 2560 1417 </string>
	<key>SUFeedURL</key>
	<string>https://pqrs.org/osx/karabiner/files/appcast.xml</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2015-09-05T05:40:26Z</date>
	<key>configList</key>
	<array>
		<dict>
			<key>appendIndex</key>
			<integer>1</integer>
			<key>identify</key>
			<string>config_1390498996_152331</string>
			<key>name</key>
			<string>Default</string>
		</dict>
	</array>
	<key>config_1390498996_152331</key>
	<dict>
		<key>notsave.automatically_enable_keyboard_device</key>
		<integer>1</integer>
		<key>notsave.automatically_enable_pointing_device</key>
		<integer>1</integer>
		<key>parameter.keyoverlaidmodifier_timeout</key>
		<integer>300</integer>
		<key>private.spacefn</key>
		<integer>1</integer>
		<key>private.spacefn-colemak</key>
		<integer>1</integer>
		<key>remap.controlL2controlL_delete</key>
		<integer>1</integer>
		<key>remap.return2controlL_return</key>
		<integer>1</integer>
		<key>remap.shiftLshiftR_to_capslock</key>
		<integer>1</integer>
		<key>remap.shiftRshiftL_to_capslock</key>
		<integer>1</integer>
		<key>remap.yubikey_colemak2qwerty</key>
		<integer>1</integer>
		<key>repeat.initial_wait</key>
		<integer>300</integer>
		<key>repeat.wait</key>
		<integer>30</integer>
	</dict>
	<key>isQuitByHand</key>
	<false/>
	<key>isStatusbarEnable</key>
	<false/>
	<key>kIsAXNotifierEnabled</key>
	<false/>
</dict>
</plist>
