#!/bin/sh

# {{ ansible_managed }}

set -e

cd $(/usr/bin/mktemp -d)

LOCK_FILE="$HOME/Library/Cron/.check-git.lock"
KILL_FILE="$HOME/Library/Cron/.check-git.kill"
REPO="git://git.wincent.com/null.git"

if [ $# -gt 1 ]; then
  echo "Expected no more than 1 argument (pause, resume): got $#"
  exit 1
fi
if [ $# -eq 1 ]; then
  if [ "$1" = "pause" ]; then
    touch "$KILL_FILE"
  elif [ "$1" = "resume" ]; then
    rm -f "$KILL_FILE"
  else
    echo "Unexpected argument: $1 (supported arguments: pause, resume)"
    exit 1
  fi
  exit
fi

if [ -e "$KILL_FILE" ]; then
  exit
fi

/usr/local/bin/gtimeout 600 \
  /usr/local/bin/lockrun \
    --lockfile "$LOCK_FILE" \
    --quiet \
    -- \
      /usr/local/bin/git clone \
        --bare --depth 1 --quiet --single-branch "$REPO" || \
        $HOME/bin/dialog \
          -title 'git.wincent.com clone test failed' \
          -message "Unable to complete clone of $REPO"
