#!/bin/sh

# {{ ansible_managed }}

set -e

cd $(/usr/bin/mktemp -d)

/usr/local/bin/gtimeout 600 \
  /usr/local/bin/lockrun \
    --lockfile $HOME/Library/Cron/.check-git.lock \
    --quiet \
    -- \
      /usr/local/bin/git clone \
        --bare --depth 1 --quiet --single-branch git://git.wincent.com/wincent.git || \
        $HOME/bin/dialog \
          -title 'git.wincent.com clone test failed' \
          -message 'Unable to complete clone of git://git.wincent.com/wincent.git'
