<!doctype html>
<!-- <%= variables.figManaged %> -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>UserScripts</h1>

    <h2>Fastmail</h2>

    <table>
      <tr>
        <td>
          <a
            href="http://localhost/~<%= variables.username %>/UserScripts/fastmail/suppressEscape.user.js"
            >suppressEscape.user.js</a
          >
        </td>
        <td>Stop the Escape key from discarding changes in notes</td>
      </tr>
    </table>

    <h2>Github</h2>

    <table>
      <tr>
        <td>
          <a
            href="http://localhost/~<%= variables.username %>/UserScripts/github/makeTextAreasBigger.user.js"
            >makeTextAreasBigger.user.js</a
          >
        </td>
        <td>Make GitHub PR textareas bigger</td>
      </tr>
      <tr>
        <td>
          <a
            href="http://localhost/~<%= variables.username %>/UserScripts/github/enhanceReviewComments.user.js"
            >enhanceReviewComments.user.js</a
          >
        </td>
        <td>Turns comment inputs into just saying inputs</td>
      </tr>
    </table>

    <h2>Gmail</h2>

    <table>
      <tr>
        <td>
          <a
            href="http://localhost/~<%= variables.username %>/UserScripts/gmail/removeHighlighting.user.js"
            >removeHighlighting.user.js</a
          >
        </td>
        <td>Remove annoying purple color added to text by Gmail</td>
      </tr>
    </table>

    <h2>Twitter/X</h2>

    <table>
      <tr>
        <td>
          <a
            href="http://localhost/~<%= variables.username %>/UserScripts/twitter/bypassClickTracking.user.js"
            >bypassClickTracking.user.js</a
          >
        </td>
        <td>Bypass Twitter click tracking</td>
      </tr>
      <tr>
        <td>
          <a
            href="http://localhost/~<%= variables.username %>/UserScripts/twitter/hideLikeButtons.user.js"
            >hideLikeButtons.user.js</a
          >
        </td>
        <td>Hide Twitter Like buttons</td>
      </tr>
    </table>

    <h2>YouTube</h2>

    <table>
      <tr>
        <td>
          <a
            href="http://localhost/~<%= variables.username %>/UserScripts/youtube/unhideYouTubeInfo.user.js"
            >unhideYouTubeInfo.user.js</a
          >
        </td>
        <td>Unhide view count and date</td>
      </tr>
    </table>

    <h2>Zoom</h2>

    <table>
      <tr>
        <td>
          <a
            href="http://localhost/~<%= variables.username %>/UserScripts/zoom/autocloseInterstitial.user.js"
            >autocloseInterstitial.user.js</a
          >
        </td>
        <td>Autoclose Zoom redirect when joining a call</td>
      </tr>
    </table>
  </body>
</html>
