<?xml version="1.0" encoding="UTF-8"?>
<!--
    {{scheme-system}} {{scheme-name}}
    Scheme author: {{scheme-author}}
    Template author: Tinted Theming (https://github.com/tinted-theming)
    semanticClass: theme.{{scheme-system}}.{{scheme-slug}}
-->
<key name="Palette1">
    <value name="Name" type="string" data="{{scheme-system}}-{{scheme-slug}}"/>
    <value name="ExtendColors" type="hex" data="00"/>
    <value name="ExtendColorIdx" type="hex" data="0e"/>
    <value name="TextColorIdx" type="hex" data="10"/>
    <value name="BackColorIdx" type="hex" data="10"/>
    <value name="PopTextColorIdx" type="hex" data="10"/>
    <value name="PopBackColorIdx" type="hex" data="10"/>
    <value name="ColorTable00" type="dword" data="00{{base01-hex-b}}{{base01-hex-g}}{{base01-hex-r}}"/> <!-- base01 - Black -->
    <value name="ColorTable01" type="dword" data="00{{base08-hex-b}}{{base08-hex-g}}{{base08-hex-r}}"/> <!-- base08 - Red -->
    <value name="ColorTable02" type="dword" data="00{{base0B-hex-b}}{{base0B-hex-g}}{{base0B-hex-r}}"/> <!-- base0B - Green -->
    <value name="ColorTable03" type="dword" data="00{{base0A-hex-b}}{{base0A-hex-g}}{{base0A-hex-r}}"/> <!-- base0A - Yellow -->
    <value name="ColorTable04" type="dword" data="00{{base0D-hex-b}}{{base0D-hex-g}}{{base0D-hex-r}}"/> <!-- base0D - Blue -->
    <value name="ColorTable05" type="dword" data="00{{base0E-hex-b}}{{base0E-hex-g}}{{base0E-hex-r}}"/> <!-- base0E - Magenta -->
    <value name="ColorTable06" type="dword" data="00{{base0C-hex-b}}{{base0C-hex-g}}{{base0C-hex-r}}"/> <!-- base0C - Cyan -->
    <value name="ColorTable07" type="dword" data="00{{base06-hex-b}}{{base06-hex-g}}{{base06-hex-r}}"/> <!-- base06 - White -->
    <value name="ColorTable08" type="dword" data="00{{base02-hex-b}}{{base02-hex-g}}{{base02-hex-r}}"/> <!-- base02 - Bright Black -->
    <value name="ColorTable09" type="dword" data="00{{base12-hex-b}}{{base12-hex-g}}{{base12-hex-r}}"/> <!-- base12 - Bright Red -->
    <value name="ColorTable10" type="dword" data="00{{base14-hex-b}}{{base14-hex-g}}{{base14-hex-r}}"/> <!-- base14 - Bright Green -->
    <value name="ColorTable11" type="dword" data="00{{base13-hex-b}}{{base13-hex-g}}{{base13-hex-r}}"/> <!-- base13 - Bright Yellow -->
    <value name="ColorTable12" type="dword" data="00{{base16-hex-b}}{{base16-hex-g}}{{base16-hex-r}}"/> <!-- base16 - Bright Blue -->
    <value name="ColorTable13" type="dword" data="00{{base17-hex-b}}{{base17-hex-g}}{{base17-hex-r}}"/> <!-- base17 - Bright Magenta -->
    <value name="ColorTable14" type="dword" data="00{{base15-hex-b}}{{base15-hex-g}}{{base15-hex-r}}"/> <!-- base15 - Bright Cyan -->
    <value name="ColorTable15" type="dword" data="00{{base07-hex-b}}{{base07-hex-g}}{{base07-hex-r}}"/> <!-- base07 - Bright White -->
    <value name="ColorTable16" type="dword" data="00{{base09-hex-b}}{{base09-hex-g}}{{base09-hex-r}}"/> <!-- base09 -->
    <value name="ColorTable17" type="dword" data="00{{base0F-hex-b}}{{base0F-hex-g}}{{base0F-hex-r}}"/> <!-- base0F -->
    <value name="ColorTable18" type="dword" data="00{{base01-hex-b}}{{base01-hex-g}}{{base01-hex-r}}"/> <!-- base01 -->
    <value name="ColorTable19" type="dword" data="00{{base02-hex-b}}{{base02-hex-g}}{{base02-hex-r}}"/> <!-- base02 -->
    <value name="ColorTable20" type="dword" data="00{{base04-hex-b}}{{base04-hex-g}}{{base04-hex-r}}"/> <!-- base04 -->
    <value name="ColorTable21" type="dword" data="00{{base06-hex-b}}{{base06-hex-g}}{{base06-hex-r}}"/> <!-- base06 -->
</key>
