# vim:ft=kitty

## name:     {{scheme-system}} {{scheme-name}}
## author:   {{scheme-author}}
## license:  MIT
## upstream: https://github.com/tinted-theming/tinted-terminal
## blurb:    {{scheme-description}}

# Scheme name: {{scheme-system}} {{scheme-name}}
# Scheme author: {{scheme-author}}
# Template author: Tinted Theming (https://github.com/tinted-theming/tinted-terminal)

# The basic colors
background #{{base00-hex}}
foreground #{{base05-hex}}
selection_background #{{base03-hex}}
selection_foreground #{{base05-hex}}

# Cursor colors
cursor #{{base05-hex}}
cursor_text_color #{{base00-hex}}

# URL underline color when hovering with mouse
url_color #{{base04-hex}}

# Kitty window border colors
active_border_color #{{base03-hex}}
inactive_border_color #{{base01-hex}}

# OS Window titlebar colors
wayland_titlebar_color #{{base00-hex}}
macos_titlebar_color #{{base00-hex}}

# Tab bar colors
active_tab_background #{{base00-hex}}
active_tab_foreground #{{base05-hex}}
inactive_tab_background #{{base01-hex}}
inactive_tab_foreground #{{base04-hex}}
tab_bar_background #{{base01-hex}}

# The 16 terminal colors
# normal
color0 #{{base00-hex}}
color1 #{{base08-hex}}
color2 #{{base0B-hex}}
color3 #{{base0A-hex}}
color4 #{{base0D-hex}}
color5 #{{base0E-hex}}
color6 #{{base0C-hex}}
color7 #{{base05-hex}}

# bright
color8 #{{base02-hex}}
color9 #{{base08-hex}}
color10 #{{base0B-hex}}
color11 #{{base0A-hex}}
color12 #{{base0D-hex}}
color13 #{{base0E-hex}}
color14 #{{base0C-hex}}
color15 #{{base07-hex}}

# extended base16 colors
color16 #{{base09-hex}}
color17 #{{base0F-hex}}
color18 #{{base01-hex}}
color19 #{{base02-hex}}
color20 #{{base04-hex}}
color21 #{{base06-hex}}
