Windows Registry Editor Version 5.00

; Scheme name: {{scheme-name}}
; Scheme system: {{scheme-system}}
; Scheme description: {{scheme-description}}
; Scheme author: {{scheme-author}}
; Template author: Tinted Theming (https://github.com/tinted-theming)
[HKEY_CURRENT_USER\Software\SimonTatham\PuTTY\Sessions\{{scheme-system}}-{{scheme-slug}}]

; Default Foreground
; base05 #{{base05-hex}}
"Colour0"="{{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}"

; Default Bold Foreground  -- equals to non-bold
; base05 #{{base05-hex}}
"Colour1"="{{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}"

; Default Background
; base00 #{{base00-hex}}
"Colour2"="{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}"

; Default Bold Background  -- equals to non-bold
; base00 #{{base00-hex}}
"Colour3"="{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}"

; Cursor Text -- equals to default background
; base00 #{{base00-hex}}
"Colour4"="{{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}"

; Cursor Colour -- equals to default foreground
; base05 #{{base05-hex}}
"Colour5"="{{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}"

; ANSI Black
; 30m
; base01 #{{base01-hex}}
"Colour6"="{{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}"

; ANSI Black Bright
; 1;30m
; base02 #{{base02-hex}}
"Colour7"="{{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}}"

; ANSI Red
; 31m
; base08 #{{base08-hex}}
"Colour8"="{{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}"

; ANSI Red Bright
; 1;31m
; base08 #{{base08-hex}}
"Colour9"="{{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}"

; ANSI Green
; 32m
; base0B #{{base0B-hex}}
"Colour10"="{{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}"

; ANSI Green Bright
; 1;32m
; base0B #{{base0B-hex}}
"Colour11"="{{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}"

; ANSI Yellow
; 33m
; base0A #{{base0A-hex}}
"Colour12"="{{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}"

; ANSI Yellow Bright
; 1;33m
; base0A #{{base0A-hex}}
"Colour13"="{{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}"

; ANSI Blue
; 34m
; base0D #{{base0D-hex}}
"Colour14"="{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}"

; ANSI Blue Bright
; 1;34m
; base0D #{{base0D-hex}}
"Colour15"="{{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}"

; ANSI Magenta
; 35m
; base0E #{{base0E-hex}}
"Colour16"="{{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}}"

; ANSI Magenta Bright
; 1;35m
; base0E #{{base0E-hex}}
"Colour17"="{{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}}"

; ANSI Cyan
; 36m
; base0C #{{base0C-hex}}
"Colour18"="{{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}"

; ANSI Cyan Bright
; 1;36m
; base0C #{{base0C-hex}}
"Colour19"="{{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}"

; ANSI White
; 37m
; base06 #{{base06-hex}}
"Colour20"="{{base06-rgb-r}},{{base06-rgb-g}},{{base06-rgb-b}}"

; ANSI White Bright
; 1;37m
; base07 {{base07-hex}}
"Colour21"="{{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}"
