snippet header
---
tags: $1
---
$0
endsnippet

snippet table
| First Header  | Second Header |
| ------------- | ------------- |
| Content Cell  | Content Cell  |
| Content Cell  | Content Cell  |
endsnippet
