set bell-style visible

# By default, if filename completion is performed on a symbolic link pointing
# to a directory, append a slash.
set mark-symlinked-directories

# Hit tab to show a list of possible completions, ignoring case>
set completion-ignore-case
set show-all-if-ambiguous
set visible-stats

$if Ruby
# For some reason, Rails console doesn't like `history-search-backward`/
# `history-search-forward`, so don't use it.
$else
# Using the Up/Down arrow keys.
"\e[A": history-search-backward
"\e[B": history-search-forward
$endif

# Enable 8-bit input (do not strip 8th bit from input).
set meta-flag

# Synonym for meta-flag.
set input-meta

# Display 8-bit characters directly (rather than as a meta-prefixed escape sequence).
set output-meta

# Do not convert 8-bit characters into ASCII key sequences.
set convert-meta off
