# Scheme name: OneDark Dark
# Scheme system: base16
# Scheme author: olimorris (https://github.com/olimorris)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xabb2bf
foreground_bold    0xb6bdca

# Cursor color
cursor             0xb6bdca
cursor_foreground  0x000000

# Background color
background         0x000000

color0 0x1c1f24 # base01 - Black
color1 0xef596f # base08 - Red
color2 0x89ca78 # base0B - Green
color3 0xe5c07b # base0A - Yellow
color4 0x61afef # base0D - Blue
color5 0xd55fde # base0E - Magenta
color6 0x2bbac5 # base0C - Cyan
color7 0xb6bdca # base06 - White
color8 0x2c313a # base02 - Bright Black
color9 0xef596f # base08 - Bright Red
color10 0x89ca78 # base0B - Bright Green
color11 0xe5c07b # base0A - Bright Yellow
color12 0x61afef # base0D - Bright Blue
color13 0xd55fde # base0E - Bright Magenta
color14 0x2bbac5 # base0C - Bright Cyan
color15 0xc8ccd4 # base07 - Bright White
