# Scheme name: Later This Evening
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x3e3f3f
foreground_bold    0x3b3c3c

# Cursor color
cursor             0x3b3c3c
cursor_foreground  0x212121

# Background color
background         0x212121

color0 0x2b2b2b # base01 - Black
color1 0xd35a5f # base08 - Red
color2 0xafba66 # base0B - Green
color3 0x6599d5 # base0A - Yellow
color4 0xa0b9d5 # base0D - Blue
color5 0xbf92d5 # base0E - Magenta
color6 0x91beb6 # base0C - Cyan
color7 0x3b3c3c # base06 - White
color8 0x444747 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0xaabb39 # base14 - Bright Green
color11 0xe4bd39 # base13 - Bright Yellow
color12 0x6599d5 # base16 - Bright Blue
color13 0xaa52d5 # base17 - Bright Magenta
color14 0x5fbfad # base15 - Bright Cyan
color15 0xc0c2c2 # base07 - Bright White
