# Scheme name: Qualia
# Scheme system: base16
# Scheme author: isaacwhanson
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc0c0c0
foreground_bold    0xc0c0c0

# Cursor color
cursor             0xc0c0c0
cursor_foreground  0x101010

# Background color
background         0x101010

color0 0x454545 # base01 - Black
color1 0xefa6a2 # base08 - Red
color2 0x80c990 # base0B - Green
color3 0xe6a3dc # base0A - Yellow
color4 0x50cacd # base0D - Blue
color5 0xe0af85 # base0E - Magenta
color6 0xc8c874 # base0C - Cyan
color7 0xc0c0c0 # base06 - White
color8 0x454545 # base02 - Bright Black
color9 0xefa6a2 # base08 - Bright Red
color10 0x80c990 # base0B - Bright Green
color11 0xe6a3dc # base0A - Bright Yellow
color12 0x50cacd # base0D - Bright Blue
color13 0xe0af85 # base0E - Bright Magenta
color14 0xc8c874 # base0C - Bright Cyan
color15 0x454545 # base07 - Bright White
