# Scheme name: Gigavolt
# Scheme system: base16
# Scheme author: Aidan Swope (http://github.com/Whillikers)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xe9e7e1
foreground_bold    0xeff0f9

# Cursor color
cursor             0xeff0f9
cursor_foreground  0x202126

# Background color
background         0x202126

color0 0x2d303d # base01 - Black
color1 0xff661a # base08 - Red
color2 0xf2e6a9 # base0B - Green
color3 0xffdc2d # base0A - Yellow
color4 0x40bfff # base0D - Blue
color5 0xae94f9 # base0E - Magenta
color6 0xfb6acb # base0C - Cyan
color7 0xeff0f9 # base06 - White
color8 0x5a576e # base02 - Bright Black
color9 0xff661a # base08 - Bright Red
color10 0xf2e6a9 # base0B - Bright Green
color11 0xffdc2d # base0A - Bright Yellow
color12 0x40bfff # base0D - Bright Blue
color13 0xae94f9 # base0E - Bright Magenta
color14 0xfb6acb # base0C - Bright Cyan
color15 0xf2fbff # base07 - Bright White
