# Scheme name: Cupertino
# Scheme system: base16
# Scheme author: Defman21
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x404040
foreground_bold    0x404040

# Cursor color
cursor             0x404040
cursor_foreground  0xffffff

# Background color
background         0xffffff

color0 0xc0c0c0 # base01 - Black
color1 0xc41a15 # base08 - Red
color2 0x007400 # base0B - Green
color3 0x826b28 # base0A - Yellow
color4 0x0000ff # base0D - Blue
color5 0xa90d91 # base0E - Magenta
color6 0x318495 # base0C - Cyan
color7 0x404040 # base06 - White
color8 0xc0c0c0 # base02 - Bright Black
color9 0xc41a15 # base08 - Bright Red
color10 0x007400 # base0B - Bright Green
color11 0x826b28 # base0A - Bright Yellow
color12 0x0000ff # base0D - Bright Blue
color13 0xa90d91 # base0E - Bright Magenta
color14 0x318495 # base0C - Bright Cyan
color15 0x5e5e5e # base07 - Bright White
