# Scheme name: Github
# Scheme system: base16
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x424a53
foreground_bold    0x32383f

# Cursor color
cursor             0x32383f
cursor_foreground  0xeaeef2

# Background color
background         0xeaeef2

color0 0xd0d7de # base01 - Black
color1 0xfa4549 # base08 - Red
color2 0x2da44e # base0B - Green
color3 0xbf8700 # base0A - Yellow
color4 0x218bff # base0D - Blue
color5 0xa475f9 # base0E - Magenta
color6 0x339d9b # base0C - Cyan
color7 0x32383f # base06 - White
color8 0xafb8c1 # base02 - Bright Black
color9 0xfa4549 # base08 - Bright Red
color10 0x2da44e # base0B - Bright Green
color11 0xbf8700 # base0A - Bright Yellow
color12 0x218bff # base0D - Bright Blue
color13 0xa475f9 # base0E - Bright Magenta
color14 0x339d9b # base0C - Bright Cyan
color15 0x1f2328 # base07 - Bright White
