# Scheme name: Green Screen
# Scheme system: base16
# Scheme author: Chris Kempson (http://chriskempson.com)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x00bb00
foreground_bold    0x00dd00

# Cursor color
cursor             0x00dd00
cursor_foreground  0x001100

# Background color
background         0x001100

color0 0x003300 # base01 - Black
color1 0x007700 # base08 - Red
color2 0x00bb00 # base0B - Green
color3 0x007700 # base0A - Yellow
color4 0x009900 # base0D - Blue
color5 0x00bb00 # base0E - Magenta
color6 0x005500 # base0C - Cyan
color7 0x00dd00 # base06 - White
color8 0x005500 # base02 - Bright Black
color9 0x007700 # base08 - Bright Red
color10 0x00bb00 # base0B - Bright Green
color11 0x007700 # base0A - Bright Yellow
color12 0x009900 # base0D - Bright Blue
color13 0x00bb00 # base0E - Bright Magenta
color14 0x005500 # base0C - Bright Cyan
color15 0x00ff00 # base07 - Bright White
