# Scheme name: Harmonic16 Dark
# Scheme system: base16
# Scheme author: Jannik Siebert (https://github.com/janniks)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xcbd6e2
foreground_bold    0xe5ebf1

# Cursor color
cursor             0xe5ebf1
cursor_foreground  0x0b1c2c

# Background color
background         0x0b1c2c

color0 0x223b54 # base01 - Black
color1 0xbf8b56 # base08 - Red
color2 0x56bf8b # base0B - Green
color3 0x8bbf56 # base0A - Yellow
color4 0x8b56bf # base0D - Blue
color5 0xbf568b # base0E - Magenta
color6 0x568bbf # base0C - Cyan
color7 0xe5ebf1 # base06 - White
color8 0x405c79 # base02 - Bright Black
color9 0xbf8b56 # base08 - Bright Red
color10 0x56bf8b # base0B - Bright Green
color11 0x8bbf56 # base0A - Bright Yellow
color12 0x8b56bf # base0D - Bright Blue
color13 0xbf568b # base0E - Bright Magenta
color14 0x568bbf # base0C - Bright Cyan
color15 0xf7f9fb # base07 - Bright White
