# Scheme name: Blueish
# Scheme system: base16
# Scheme author: Ben Mayoras
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc8e1f8
foreground_bold    0xddeaf6

# Cursor color
cursor             0xddeaf6
cursor_foreground  0x182430

# Background color
background         0x182430

color0 0x243c54 # base01 - Black
color1 0x4ce587 # base08 - Red
color2 0xc3e88d # base0B - Green
color3 0x82aaff # base0A - Yellow
color4 0x82aaff # base0D - Blue
color5 0xff84dd # base0E - Magenta
color6 0x5fd1ff # base0C - Cyan
color7 0xddeaf6 # base06 - White
color8 0x46290a # base02 - Bright Black
color9 0x4ce587 # base08 - Bright Red
color10 0xc3e88d # base0B - Bright Green
color11 0x82aaff # base0A - Bright Yellow
color12 0x82aaff # base0D - Bright Blue
color13 0xff84dd # base0E - Bright Magenta
color14 0x5fd1ff # base0C - Bright Cyan
color15 0x8f98a0 # base07 - Bright White
