# Scheme name: Jackie Brown
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xa8a8a8
foreground_bold    0xbfbfbf

# Cursor color
cursor             0xbfbfbf
cursor_foreground  0x2c1c15

# Background color
background         0x2c1c15

color0 0x2c1d16 # base01 - Black
color1 0xef5734 # base08 - Red
color2 0x2baf2b # base0B - Green
color3 0x0000ff # base0A - Yellow
color4 0x246db2 # base0D - Blue
color5 0xcf5ec0 # base0E - Magenta
color6 0x00acee # base0C - Cyan
color7 0xbfbfbf # base06 - White
color8 0x666666 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x86a83e # base14 - Bright Green
color11 0xe5e500 # base13 - Bright Yellow
color12 0x0000ff # base16 - Bright Blue
color13 0xe500e5 # base17 - Bright Magenta
color14 0x00e5e5 # base15 - Bright Cyan
color15 0xe5e5e5 # base07 - Bright White
