# Scheme name: Snazzy
# Scheme system: base16
# Scheme author: Chawye Hsu (https://github.com/chawyehsu), based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xe2e4e5
foreground_bold    0xeff0eb

# Cursor color
cursor             0xeff0eb
cursor_foreground  0x282a36

# Background color
background         0x282a36

color0 0x34353e # base01 - Black
color1 0xff5c57 # base08 - Red
color2 0x5af78e # base0B - Green
color3 0xf3f99d # base0A - Yellow
color4 0x57c7ff # base0D - Blue
color5 0xff6ac1 # base0E - Magenta
color6 0x9aedfe # base0C - Cyan
color7 0xeff0eb # base06 - White
color8 0x43454f # base02 - Bright Black
color9 0xff5c57 # base08 - Bright Red
color10 0x5af78e # base0B - Bright Green
color11 0xf3f99d # base0A - Bright Yellow
color12 0x57c7ff # base0D - Bright Blue
color13 0xff6ac1 # base0E - Bright Magenta
color14 0x9aedfe # base0C - Bright Cyan
color15 0xf1f1f0 # base07 - Bright White
