# Scheme name: Tokyo City Terminal Dark
# Scheme system: base16
# Scheme author: Michaël Ball
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xd8e2ec
foreground_bold    0xf6f6f8

# Cursor color
cursor             0xf6f6f8
cursor_foreground  0x171d23

# Background color
background         0x171d23

color0 0x1d252c # base01 - Black
color1 0xd95468 # base08 - Red
color2 0x8bd49c # base0B - Green
color3 0xebbf83 # base0A - Yellow
color4 0x539afc # base0D - Blue
color5 0xb62d65 # base0E - Magenta
color6 0x70e1e8 # base0C - Cyan
color7 0xf6f6f8 # base06 - White
color8 0x28323a # base02 - Bright Black
color9 0xd95468 # base08 - Bright Red
color10 0x8bd49c # base0B - Bright Green
color11 0xebbf83 # base0A - Bright Yellow
color12 0x539afc # base0D - Bright Blue
color13 0xb62d65 # base0E - Bright Magenta
color14 0x70e1e8 # base0C - Bright Cyan
color15 0xfbfbfd # base07 - Bright White
