# Scheme name: Hopscotch
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xa9a4a8
foreground_bold    0xb9b5b8

# Cursor color
cursor             0xb9b5b8
cursor_foreground  0x322931

# Background color
background         0x322931

color0 0x322931 # base01 - Black
color1 0xdd464c # base08 - Red
color2 0x8fc13e # base0B - Green
color3 0x989498 # base0A - Yellow
color4 0x1290bf # base0D - Blue
color5 0xc85e7c # base0E - Magenta
color6 0x149b93 # base0C - Cyan
color7 0xb9b5b8 # base06 - White
color8 0x797379 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x433b42 # base14 - Bright Green
color11 0x5c545b # base13 - Bright Yellow
color12 0x989498 # base16 - Bright Blue
color13 0xd5d3d5 # base17 - Bright Magenta
color14 0xb33508 # base15 - Bright Cyan
color15 0xffffff # base07 - Bright White
