# Scheme name: Rebecca
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc3c3d4
foreground_bold    0xe3e2e8

# Cursor color
cursor             0xe3e2e8
cursor_foreground  0x292a44

# Background color
background         0x292a44

color0 0x12131d # base01 - Black
color1 0xdd7655 # base08 - Red
color2 0x04dbb4 # base0B - Green
color3 0x69bffa # base0A - Yellow
color4 0x7aa5ff # base0D - Blue
color5 0xbe9bf8 # base0E - Magenta
color6 0x56d3c1 # base0C - Cyan
color7 0xe3e2e8 # base06 - White
color8 0x666699 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x00e9c0 # base14 - Bright Green
color11 0xfefca8 # base13 - Bright Yellow
color12 0x69bffa # base16 - Bright Blue
color13 0xc07ff8 # base17 - Bright Magenta
color14 0x8bfce1 # base15 - Bright Cyan
color15 0xf3f2f8 # base07 - Bright White
