# Scheme name: Idle Toes
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc7c7c5
foreground_bold    0xeeeeec

# Cursor color
cursor             0xeeeeec
cursor_foreground  0x323232

# Background color
background         0x323232

color0 0x323232 # base01 - Black
color1 0xd25252 # base08 - Red
color2 0x7fe173 # base0B - Green
color3 0x5eb7f7 # base0A - Yellow
color4 0x4098ff # base0D - Blue
color5 0xf57fff # base0E - Magenta
color6 0xbed6ff # base0C - Cyan
color7 0xeeeeec # base06 - White
color8 0x535353 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x9dff90 # base14 - Bright Green
color11 0xffe48b # base13 - Bright Yellow
color12 0x5eb7f7 # base16 - Bright Blue
color13 0xff9dff # base17 - Bright Magenta
color14 0xdcf4ff # base15 - Bright Cyan
color15 0xffffff # base07 - Bright White
