# Scheme name: Alien Blood
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x5a6f5c
foreground_bold    0x647d75

# Cursor color
cursor             0x647d75
cursor_foreground  0x0f160f

# Background color
background         0x0f160f

color0 0x112615 # base01 - Black
color1 0x7f2b26 # base08 - Red
color2 0x2f7e25 # base0B - Green
color3 0x00a9df # base0A - Yellow
color4 0x2f697f # base0D - Blue
color5 0x47577e # base0E - Magenta
color6 0x317f76 # base0C - Cyan
color7 0x647d75 # base06 - White
color8 0x3c4711 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x18e000 # base14 - Bright Green
color11 0xbde000 # base13 - Bright Yellow
color12 0x00a9df # base16 - Bright Blue
color13 0x0058df # base17 - Bright Magenta
color14 0x00dfc3 # base15 - Bright Cyan
color15 0x73f990 # base07 - Bright White
