# Scheme name: selenized-white
# Scheme system: base16
# Scheme author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x474747
foreground_bold    0x282828

# Cursor color
cursor             0x282828
cursor_foreground  0xffffff

# Background color
background         0xffffff

color0 0xebebeb # base01 - Black
color1 0xbf0000 # base08 - Red
color2 0x008400 # base0B - Green
color3 0xaf8500 # base0A - Yellow
color4 0x0054cf # base0D - Blue
color5 0x6b40c3 # base0E - Magenta
color6 0x009a8a # base0C - Cyan
color7 0x282828 # base06 - White
color8 0xcdcdcd # base02 - Bright Black
color9 0xbf0000 # base08 - Bright Red
color10 0x008400 # base0B - Bright Green
color11 0xaf8500 # base0A - Bright Yellow
color12 0x0054cf # base0D - Bright Blue
color13 0x6b40c3 # base0E - Bright Magenta
color14 0x009a8a # base0C - Bright Cyan
color15 0x282828 # base07 - Bright White
