# Scheme name: Front End Delight
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x98ac9c
foreground_bold    0xacacac

# Cursor color
cursor             0xacacac
cursor_foreground  0x1b1b1d

# Background color
background         0x1b1b1d

color0 0x242426 # base01 - Black
color1 0xf8501a # base08 - Red
color2 0x565746 # base0B - Green
color3 0x3393c9 # base0A - Yellow
color4 0x2c70b7 # base0D - Blue
color5 0xf02d4e # base0E - Magenta
color6 0x3ba0a5 # base0C - Cyan
color7 0xacacac # base06 - White
color8 0x5eac6c # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x74eb4c # base14 - Bright Green
color11 0xfcc224 # base13 - Bright Yellow
color12 0x3393c9 # base16 - Bright Blue
color13 0xe75e4e # base17 - Bright Magenta
color14 0x4ebce5 # base15 - Bright Cyan
color15 0x8b735a # base07 - Bright White
