# Scheme name: PhD
# Scheme system: base16
# Scheme author: Hennig Hasemann (http://leetless.de/vim.html)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xb8bbc2
foreground_bold    0xdbdde0

# Cursor color
cursor             0xdbdde0
cursor_foreground  0x061229

# Background color
background         0x061229

color0 0x2a3448 # base01 - Black
color1 0xd07346 # base08 - Red
color2 0x99bf52 # base0B - Green
color3 0xfbd461 # base0A - Yellow
color4 0x5299bf # base0D - Blue
color5 0x9989cc # base0E - Magenta
color6 0x72b9bf # base0C - Cyan
color7 0xdbdde0 # base06 - White
color8 0x4d5666 # base02 - Bright Black
color9 0xd07346 # base08 - Bright Red
color10 0x99bf52 # base0B - Bright Green
color11 0xfbd461 # base0A - Bright Yellow
color12 0x5299bf # base0D - Bright Blue
color13 0x9989cc # base0E - Bright Magenta
color14 0x72b9bf # base0C - Bright Cyan
color15 0xffffff # base07 - Bright White
