# Scheme name: Catppuccin Mocha
# Scheme system: base24
# Scheme author: https://github.com/catppuccin/catppuccin
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xcdd6f4
foreground_bold    0xf5e0dc

# Cursor color
cursor             0xf5e0dc
cursor_foreground  0x1e1e2e

# Background color
background         0x1e1e2e

color0 0x181825 # base01 - Black
color1 0xf38ba8 # base08 - Red
color2 0xa6e3a1 # base0B - Green
color3 0xf9e2af # base0A - Yellow
color4 0x89b4fa # base0D - Blue
color5 0xcba6f7 # base0E - Magenta
color6 0x94e2d5 # base0C - Cyan
color7 0xf5e0dc # base06 - White
color8 0x313244 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0xa6e3a1 # base14 - Bright Green
color11 0xf5e0dc # base13 - Bright Yellow
color12 0x74c7ec # base16 - Bright Blue
color13 0xf5c2e7 # base17 - Bright Magenta
color14 0x89dceb # base15 - Bright Cyan
color15 0xb4befe # base07 - Bright White
