# Scheme name: Sleepy Hollow
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x968684
foreground_bold    0xaf9a91

# Cursor color
cursor             0xaf9a91
cursor_foreground  0x121213

# Background color
background         0x121213

color0 0x572000 # base01 - Black
color1 0xb93934 # base08 - Red
color2 0x90773e # base0B - Green
color3 0x8085ef # base0A - Yellow
color4 0x5e62b4 # base0D - Blue
color5 0xa07c7b # base0E - Magenta
color6 0x8eaea9 # base0C - Cyan
color7 0xaf9a91 # base06 - White
color8 0x4e4b60 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0xd6b04e # base14 - Bright Green
color11 0xf66713 # base13 - Bright Yellow
color12 0x8085ef # base16 - Bright Blue
color13 0xe1c2ba # base17 - Bright Magenta
color14 0xa4dbe7 # base15 - Bright Cyan
color15 0xd1c7a9 # base07 - Bright White
