# Scheme name: Firefox Dev
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xa5acae
foreground_bold    0xdcdcdc

# Cursor color
cursor             0xdcdcdc
cursor_foreground  0x0e1011

# Background color
background         0x0e1011

color0 0x002731 # base01 - Black
color1 0xe63853 # base08 - Red
color2 0x5eb83c # base0B - Green
color3 0x006fc0 # base0A - Yellow
color4 0x359ddf # base0D - Blue
color5 0xd75cff # base0E - Magenta
color6 0x4b73a2 # base0C - Cyan
color7 0xdcdcdc # base06 - White
color8 0x001e26 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x1d9000 # base14 - Bright Green
color11 0xcc9308 # base13 - Bright Yellow
color12 0x006fc0 # base16 - Bright Blue
color13 0xa200da # base17 - Bright Magenta
color14 0x005794 # base15 - Bright Cyan
color15 0xe2e2e2 # base07 - Bright White
