# Scheme name: Piatto Light
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xcfcfcf
foreground_bold    0xffffff

# Cursor color
cursor             0xffffff
cursor_foreground  0xffffff

# Background color
background         0xffffff

color0 0x414141 # base01 - Black
color1 0xb23771 # base08 - Red
color2 0x66781e # base0B - Green
color3 0x3c5ea8 # base0A - Yellow
color4 0x3c5ea8 # base0D - Blue
color5 0xa454b2 # base0E - Magenta
color6 0x66781e # base0C - Cyan
color7 0xffffff # base06 - White
color8 0x3f3f3f # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x829429 # base14 - Bright Green
color11 0xcd6f34 # base13 - Bright Yellow
color12 0x3c5ea8 # base16 - Bright Blue
color13 0xa454b2 # base17 - Bright Magenta
color14 0x829429 # base15 - Bright Cyan
color15 0xf2f2f2 # base07 - Bright White
