# Scheme name: lime
# Scheme system: base16
# Scheme author: limelier
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x818175
foreground_bold    0xfff2d1

# Cursor color
cursor             0xfff2d1
cursor_foreground  0x1a1a2f

# Background color
background         0x1a1a2f

color0 0x202030 # base01 - Black
color1 0xff662a # base08 - Red
color2 0x8cd97c # base0B - Green
color3 0xffd15e # base0A - Yellow
color4 0x2b926f # base0D - Blue
color5 0x1b825f # base0E - Magenta
color6 0x4cad83 # base0C - Cyan
color7 0xfff2d1 # base06 - White
color8 0x2a2a3f # base02 - Bright Black
color9 0xff662a # base08 - Bright Red
color10 0x8cd97c # base0B - Bright Green
color11 0xffd15e # base0A - Bright Yellow
color12 0x2b926f # base0D - Bright Blue
color13 0x1b825f # base0E - Bright Magenta
color14 0x4cad83 # base0C - Bright Cyan
color15 0xfff8e1 # base07 - Bright White
