# Scheme name: Everforest Dark Hard
# Scheme system: base16
# Scheme author: Sainnhe Park (https://github.com/sainnhe)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xd3c6aa
foreground_bold    0xedeada

# Cursor color
cursor             0xedeada
cursor_foreground  0x272e33

# Background color
background         0x272e33

color0 0x2e383c # base01 - Black
color1 0xe67e80 # base08 - Red
color2 0xa7c080 # base0B - Green
color3 0xdbbc7f # base0A - Yellow
color4 0x7fbbb3 # base0D - Blue
color5 0xd699b6 # base0E - Magenta
color6 0x83c092 # base0C - Cyan
color7 0xedeada # base06 - White
color8 0x414b50 # base02 - Bright Black
color9 0xe67e80 # base08 - Bright Red
color10 0xa7c080 # base0B - Bright Green
color11 0xdbbc7f # base0A - Bright Yellow
color12 0x7fbbb3 # base0D - Bright Blue
color13 0xd699b6 # base0E - Bright Magenta
color14 0x83c092 # base0C - Bright Cyan
color15 0xfffbef # base07 - Bright White
