# Scheme name: DanQing
# Scheme system: base16
# Scheme author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xe0f0ef
foreground_bold    0xecf6f2

# Cursor color
cursor             0xecf6f2
cursor_foreground  0x2d302f

# Background color
background         0x2d302f

color0 0x434846 # base01 - Black
color1 0xf9906f # base08 - Red
color2 0x8ab361 # base0B - Green
color3 0xf0c239 # base0A - Yellow
color4 0xb0a4e3 # base0D - Blue
color5 0xcca4e3 # base0E - Magenta
color6 0x30dff3 # base0C - Cyan
color7 0xecf6f2 # base06 - White
color8 0x5a605d # base02 - Bright Black
color9 0xf9906f # base08 - Bright Red
color10 0x8ab361 # base0B - Bright Green
color11 0xf0c239 # base0A - Bright Yellow
color12 0xb0a4e3 # base0D - Bright Blue
color13 0xcca4e3 # base0E - Bright Magenta
color14 0x30dff3 # base0C - Bright Cyan
color15 0xfcfefd # base07 - Bright White
