# Scheme name: Brogrammer
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc1c8d7
foreground_bold    0xe3e6ed

# Cursor color
cursor             0xe3e6ed
cursor_foreground  0x131313

# Background color
background         0x131313

color0 0x1f1f1f # base01 - Black
color1 0xf71118 # base08 - Red
color2 0x2cc55d # base0B - Green
color3 0x0f80d5 # base0A - Yellow
color4 0x2a84d2 # base0D - Blue
color5 0x4e59b7 # base0E - Magenta
color6 0x0f80d5 # base0C - Cyan
color7 0xe3e6ed # base06 - White
color8 0x2a3141 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x1dd260 # base14 - Bright Green
color11 0xf2bd09 # base13 - Bright Yellow
color12 0x509bdc # base16 - Bright Blue
color13 0x524fb9 # base17 - Bright Magenta
color14 0x289af0 # base15 - Bright Cyan
color15 0xffffff # base07 - Bright White
