# Scheme name: 0x96f
# Scheme system: base16
# Scheme author: Filip Janevski (https://0x96f.dev/theme)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xfcfcfc
foreground_bold    0xeae9eb

# Cursor color
cursor             0xeae9eb
cursor_foreground  0x262427

# Background color
background         0x262427

color0 0x3b393c # base01 - Black
color1 0xff7272 # base08 - Red
color2 0xbcdf59 # base0B - Green
color3 0xffca58 # base0A - Yellow
color4 0x49cae4 # base0D - Blue
color5 0xa093e2 # base0E - Magenta
color6 0xaee8f4 # base0C - Cyan
color7 0xeae9eb # base06 - White
color8 0x514f52 # base02 - Bright Black
color9 0xff7272 # base08 - Bright Red
color10 0xbcdf59 # base0B - Bright Green
color11 0xffca58 # base0A - Bright Yellow
color12 0x49cae4 # base0D - Bright Blue
color13 0xa093e2 # base0E - Bright Magenta
color14 0xaee8f4 # base0C - Bright Cyan
color15 0xfcfcfc # base07 - Bright White
