# Scheme name: Red Alert
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xaaaaaa
foreground_bold    0xd6d6d6

# Cursor color
cursor             0xd6d6d6
cursor_foreground  0x762423

# Background color
background         0x762423

color0 0x000000 # base01 - Black
color1 0xd52e4d # base08 - Red
color2 0x71be6b # base0B - Green
color3 0x65a9f0 # base0A - Yellow
color4 0x479bed # base0D - Blue
color5 0xe878d6 # base0E - Magenta
color6 0x6bbeb8 # base0C - Cyan
color7 0xd6d6d6 # base06 - White
color8 0x262626 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0xaff08b # base14 - Bright Green
color11 0xdfddb7 # base13 - Bright Yellow
color12 0x65a9f0 # base16 - Bright Blue
color13 0xddb7df # base17 - Bright Magenta
color14 0xb7dfdd # base15 - Bright Cyan
color15 0xffffff # base07 - Bright White
