# Scheme name: Royal
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x49425a
foreground_bold    0x514965

# Cursor color
cursor             0x514965
cursor_foreground  0x100814

# Background color
background         0x100814

color0 0x241f2a # base01 - Black
color1 0x90274b # base08 - Red
color2 0x23801c # base0B - Green
color3 0x8fb9f9 # base0A - Yellow
color4 0x6480af # base0D - Blue
color5 0x664d96 # base0E - Magenta
color6 0x8aaabd # base0C - Cyan
color7 0x514965 # base06 - White
color8 0x312d3c # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x2cd845 # base14 - Bright Green
color11 0xfde83a # base13 - Bright Yellow
color12 0x8fb9f9 # base16 - Bright Blue
color13 0xa479e2 # base17 - Bright Magenta
color14 0xabd3eb # base15 - Bright Cyan
color15 0x9d8bbd # base07 - Bright White
