# Scheme name: Nebula
# Scheme system: base16
# Scheme author: Gabriel Fontes (https://github.com/Misterio77)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xa4a6a9
foreground_bold    0xc7c9cd

# Cursor color
cursor             0xc7c9cd
cursor_foreground  0x22273b

# Background color
background         0x22273b

color0 0x414f60 # base01 - Black
color1 0x777abc # base08 - Red
color2 0x6562a8 # base0B - Green
color3 0x4f9062 # base0A - Yellow
color4 0x4d6bb6 # base0D - Blue
color5 0x716cae # base0E - Magenta
color6 0x226f68 # base0C - Cyan
color7 0xc7c9cd # base06 - White
color8 0x5a8380 # base02 - Bright Black
color9 0x777abc # base08 - Bright Red
color10 0x6562a8 # base0B - Bright Green
color11 0x4f9062 # base0A - Bright Yellow
color12 0x4d6bb6 # base0D - Bright Blue
color13 0x716cae # base0E - Bright Magenta
color14 0x226f68 # base0C - Bright Cyan
color15 0x8dbdaa # base07 - Bright White
