# Scheme name: Mellow Purple
# Scheme system: base16
# Scheme author: gidsi
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xffeeff
foreground_bold    0xffeeff

# Cursor color
cursor             0xffeeff
cursor_foreground  0x1e0528

# Background color
background         0x1e0528

color0 0x1a092d # base01 - Black
color1 0x00d9e9 # base08 - Red
color2 0x05cb0d # base0B - Green
color3 0x955ae7 # base0A - Yellow
color4 0x550068 # base0D - Blue
color5 0x8991bb # base0E - Magenta
color6 0xb900b1 # base0C - Cyan
color7 0xffeeff # base06 - White
color8 0x331354 # base02 - Bright Black
color9 0x00d9e9 # base08 - Bright Red
color10 0x05cb0d # base0B - Bright Green
color11 0x955ae7 # base0A - Bright Yellow
color12 0x550068 # base0D - Bright Blue
color13 0x8991bb # base0E - Bright Magenta
color14 0xb900b1 # base0C - Bright Cyan
color15 0xf8c0ff # base07 - Bright White
