# Scheme name: Da One Paper
# Scheme system: base16
# Scheme author: NNB (https://github.com/NNBnh)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x181818
foreground_bold    0x000000

# Cursor color
cursor             0x000000
cursor_foreground  0xfaf0dc

# Background color
background         0xfaf0dc

color0 0xc8c8c8 # base01 - Black
color1 0xde5d6e # base08 - Red
color2 0x76a85d # base0B - Green
color3 0xb3684f # base0A - Yellow
color4 0x5890f8 # base0D - Blue
color5 0xc173d1 # base0E - Magenta
color6 0x64b5a7 # base0C - Cyan
color7 0x000000 # base06 - White
color8 0x888888 # base02 - Bright Black
color9 0xde5d6e # base08 - Bright Red
color10 0x76a85d # base0B - Bright Green
color11 0xb3684f # base0A - Bright Yellow
color12 0x5890f8 # base0D - Bright Blue
color13 0xc173d1 # base0E - Bright Magenta
color14 0x64b5a7 # base0C - Bright Cyan
color15 0x000000 # base07 - Bright White
