# Scheme name: Crayon Pony Fish
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x5d484e
foreground_bold    0x685259

# Cursor color
cursor             0x685259
cursor_foreground  0x140607

# Background color
background         0x140607

color0 0x2a1a1c # base01 - Black
color1 0x90002a # base08 - Red
color2 0x579523 # base0B - Green
color3 0xcfc9ff # base0A - Yellow
color4 0x8b87af # base0D - Blue
color5 0x682e50 # base0E - Magenta
color6 0xe8a766 # base0C - Cyan
color7 0x685259 # base06 - White
color8 0x3c2a2e # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x8dff56 # base14 - Bright Green
color11 0xc7371d # base13 - Bright Yellow
color12 0xcfc9ff # base16 - Bright Blue
color13 0xfb6cb9 # base17 - Bright Magenta
color14 0xffceae # base15 - Bright Cyan
color15 0xaf949d # base07 - Bright White
