# Scheme name: Circus
# Scheme system: base16
# Scheme author: Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xa7a7a7
foreground_bold    0x808080

# Cursor color
cursor             0x808080
cursor_foreground  0x191919

# Background color
background         0x191919

color0 0x202020 # base01 - Black
color1 0xdc657d # base08 - Red
color2 0x84b97c # base0B - Green
color3 0xc3ba63 # base0A - Yellow
color4 0x639ee4 # base0D - Blue
color5 0xb888e2 # base0E - Magenta
color6 0x4bb1a7 # base0C - Cyan
color7 0x808080 # base06 - White
color8 0x303030 # base02 - Bright Black
color9 0xdc657d # base08 - Bright Red
color10 0x84b97c # base0B - Bright Green
color11 0xc3ba63 # base0A - Bright Yellow
color12 0x639ee4 # base0D - Bright Blue
color13 0xb888e2 # base0E - Bright Magenta
color14 0x4bb1a7 # base0C - Bright Cyan
color15 0xffffff # base07 - Bright White
