# Scheme name: Oceanic Material
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x989898
foreground_bold    0xa4a4a4

# Cursor color
cursor             0xa4a4a4
cursor_foreground  0x1c262b

# Background color
background         0x1c262b

color0 0x000000 # base01 - Black
color1 0xee2a29 # base08 - Red
color2 0x3fa33f # base0B - Green
color3 0x53a4f3 # base0A - Yellow
color4 0x1d80ef # base0D - Blue
color5 0x8800a0 # base0E - Magenta
color6 0x16aec9 # base0C - Cyan
color7 0xa4a4a4 # base06 - White
color8 0x767676 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x70be71 # base14 - Bright Green
color11 0xfef063 # base13 - Bright Yellow
color12 0x53a4f3 # base16 - Bright Blue
color13 0xa94dbb # base17 - Bright Magenta
color14 0x42c6d9 # base15 - Bright Cyan
color15 0xfffefe # base07 - Bright White
