# Scheme name: Atelier Sulphurpool
# Scheme system: base16
# Scheme author: Bram de Haan (http://atelierbramdehaan.nl)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x979db4
foreground_bold    0xdfe2f1

# Cursor color
cursor             0xdfe2f1
cursor_foreground  0x202746

# Background color
background         0x202746

color0 0x293256 # base01 - Black
color1 0xc94922 # base08 - Red
color2 0xac9739 # base0B - Green
color3 0xc08b30 # base0A - Yellow
color4 0x3d8fd1 # base0D - Blue
color5 0x6679cc # base0E - Magenta
color6 0x22a2c9 # base0C - Cyan
color7 0xdfe2f1 # base06 - White
color8 0x5e6687 # base02 - Bright Black
color9 0xc94922 # base08 - Bright Red
color10 0xac9739 # base0B - Bright Green
color11 0xc08b30 # base0A - Bright Yellow
color12 0x3d8fd1 # base0D - Bright Blue
color13 0x6679cc # base0E - Bright Magenta
color14 0x22a2c9 # base0C - Bright Cyan
color15 0xf5f7ff # base07 - Bright White
