# Scheme name: Batman
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xa7a8a3
foreground_bold    0xc5c5be

# Cursor color
cursor             0xc5c5be
cursor_foreground  0x1b1d1e

# Background color
background         0x1b1d1e

color0 0x1b1d1e # base01 - Black
color1 0xe6db43 # base08 - Red
color2 0xc8be46 # base0B - Green
color3 0x909495 # base0A - Yellow
color4 0x737074 # base0D - Blue
color5 0x737271 # base0E - Magenta
color6 0x615f5e # base0C - Cyan
color7 0xc5c5be # base06 - White
color8 0x505354 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0xfff27c # base14 - Bright Green
color11 0xfeed6c # base13 - Bright Yellow
color12 0x909495 # base16 - Bright Blue
color13 0x9a999d # base17 - Bright Magenta
color14 0xa2a2a5 # base15 - Bright Cyan
color15 0xdadad5 # base07 - Bright White
