# Scheme name: Cyberdyne
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc0c0c0
foreground_bold    0xf1f1f1

# Cursor color
cursor             0xf1f1f1
cursor_foreground  0x151144

# Background color
background         0x151144

color0 0x080808 # base01 - Black
color1 0xff8272 # base08 - Red
color2 0x00c172 # base0B - Green
color3 0xc1e3fe # base0A - Yellow
color4 0x0071cf # base0D - Blue
color5 0xff8ffd # base0E - Magenta
color6 0x6bffdc # base0C - Cyan
color7 0xf1f1f1 # base06 - White
color8 0x2d2d2d # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0xd6fcb9 # base14 - Bright Green
color11 0xfefdd5 # base13 - Bright Yellow
color12 0xc1e3fe # base16 - Bright Blue
color13 0xffb1fe # base17 - Bright Magenta
color14 0xe5e6fe # base15 - Bright Cyan
color15 0xfeffff # base07 - Bright White
