# Scheme name: Floraverse
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc3af9d
foreground_bold    0xf3e0b8

# Cursor color
cursor             0xf3e0b8
cursor_foreground  0x0e0c15

# Background color
background         0x0e0c15

color0 0x08002e # base01 - Black
color1 0x64002c # base08 - Red
color2 0x5d731a # base0B - Green
color3 0x40a4cf # base0A - Yellow
color4 0x1d6da1 # base0D - Blue
color5 0xb7077e # base0E - Magenta
color6 0x42a38c # base0C - Cyan
color7 0xf3e0b8 # base06 - White
color8 0x331e4d # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0xb4ce59 # base14 - Bright Green
color11 0xfac357 # base13 - Bright Yellow
color12 0x40a4cf # base16 - Bright Blue
color13 0xf12aae # base17 - Bright Magenta
color14 0x62caa8 # base15 - Bright Cyan
color15 0xfff5db # base07 - Bright White
