# Scheme name: Hacktober
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xbfbdb7
foreground_bold    0xf1eee7

# Cursor color
cursor             0xf1eee7
cursor_foreground  0x141414

# Background color
background         0x141414

color0 0x191918 # base01 - Black
color1 0xb34538 # base08 - Red
color2 0x587744 # base0B - Green
color3 0x5389c5 # base0A - Yellow
color4 0x206ec5 # base0D - Blue
color5 0x864651 # base0E - Magenta
color6 0xac9166 # base0C - Cyan
color7 0xf1eee7 # base06 - White
color8 0x2c2b2a # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x42824a # base14 - Bright Green
color11 0xc75a22 # base13 - Bright Yellow
color12 0x5389c5 # base16 - Bright Blue
color13 0xe795a5 # base17 - Bright Magenta
color14 0xebc587 # base15 - Bright Cyan
color15 0xffffff # base07 - Bright White
