# Scheme name: Gotham
# Scheme system: base16
# Scheme author: Andrea Leopardi (arranged by Brett Jones)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x599cab
foreground_bold    0x99d1ce

# Cursor color
cursor             0x99d1ce
cursor_foreground  0x0c1014

# Background color
background         0x0c1014

color0 0x11151c # base01 - Black
color1 0xc23127 # base08 - Red
color2 0x33859e # base0B - Green
color3 0xedb443 # base0A - Yellow
color4 0x195466 # base0D - Blue
color5 0x888ca6 # base0E - Magenta
color6 0x2aa889 # base0C - Cyan
color7 0x99d1ce # base06 - White
color8 0x091f2e # base02 - Bright Black
color9 0xc23127 # base08 - Bright Red
color10 0x33859e # base0B - Bright Green
color11 0xedb443 # base0A - Bright Yellow
color12 0x195466 # base0D - Bright Blue
color13 0x888ca6 # base0E - Bright Magenta
color14 0x2aa889 # base0C - Bright Cyan
color15 0xd3ebe9 # base07 - Bright White
