# Scheme name: Toy Chest
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x27b684
foreground_bold    0x23d082

# Cursor color
cursor             0x23d082
cursor_foreground  0x23364a

# Background color
background         0x23364a

color0 0x2c3f57 # base01 - Black
color1 0xbe2d26 # base08 - Red
color2 0x199171 # base0B - Green
color3 0x33a5d9 # base0A - Yellow
color4 0x325d96 # base0D - Blue
color5 0x8a5ddb # base0E - Magenta
color6 0x35a08f # base0C - Cyan
color7 0x23d082 # base06 - White
color8 0x326889 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x30cf7b # base14 - Bright Green
color11 0xe7d74b # base13 - Bright Yellow
color12 0x33a5d9 # base16 - Bright Blue
color13 0xad6bdc # base17 - Bright Magenta
color14 0x41c3ad # base15 - Bright Cyan
color15 0xd4d4d4 # base07 - Bright White
