# Scheme name: standardized-dark
# Scheme system: base16
# Scheme author: ali (https://github.com/ali-githb/base16-standardized-scheme)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc0c0c0
foreground_bold    0xe0e0e0

# Cursor color
cursor             0xe0e0e0
cursor_foreground  0x222222

# Background color
background         0x222222

color0 0x303030 # base01 - Black
color1 0xe15d67 # base08 - Red
color2 0x5db129 # base0B - Green
color3 0xe1b31a # base0A - Yellow
color4 0x00a3f2 # base0D - Blue
color5 0xb46ee0 # base0E - Magenta
color6 0x21c992 # base0C - Cyan
color7 0xe0e0e0 # base06 - White
color8 0x555555 # base02 - Bright Black
color9 0xe15d67 # base08 - Bright Red
color10 0x5db129 # base0B - Bright Green
color11 0xe1b31a # base0A - Bright Yellow
color12 0x00a3f2 # base0D - Bright Blue
color13 0xb46ee0 # base0E - Bright Magenta
color14 0x21c992 # base0C - Bright Cyan
color15 0xffffff # base07 - Bright White
