# Scheme name: Solarized Dark Patched
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc0c0b0
foreground_bold    0xe9e2cb

# Cursor color
cursor             0xe9e2cb
cursor_foreground  0x001e26

# Background color
background         0x001e26

color0 0x002731 # base01 - Black
color1 0xd01b24 # base08 - Red
color2 0x728905 # base0B - Green
color3 0x708183 # base0A - Yellow
color4 0x2075c7 # base0D - Blue
color5 0xc61b6e # base0E - Magenta
color6 0x259185 # base0C - Cyan
color7 0xe9e2cb # base06 - White
color8 0x465a61 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x465a61 # base14 - Bright Green
color11 0x52676f # base13 - Bright Yellow
color12 0x708183 # base16 - Bright Blue
color13 0x5856b9 # base17 - Bright Magenta
color14 0x81908f # base15 - Bright Cyan
color15 0xfcf4dc # base07 - Bright White
