# Scheme name: Chinoiserie Midnight
# Scheme system: base16
# Scheme author: Di Wang (https://cs.cmu.edu/~diw3)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc4cbcf
foreground_bold    0xeee7f2

# Cursor color
cursor             0xeee7f2
cursor_foreground  0x1d1d1d

# Background color
background         0x1d1d1d

color0 0x282828 # base01 - Black
color1 0xed5a56 # base08 - Red
color2 0xaeb831 # base0B - Green
color3 0xfbb957 # base0A - Yellow
color4 0x81a2a2 # base0D - Blue
color5 0xcf8997 # base0E - Magenta
color6 0x88b68d # base0C - Cyan
color7 0xeee7f2 # base06 - White
color8 0x373737 # base02 - Bright Black
color9 0xed5a56 # base08 - Bright Red
color10 0xaeb831 # base0B - Bright Green
color11 0xfbb957 # base0A - Bright Yellow
color12 0x81a2a2 # base0D - Bright Blue
color13 0xcf8997 # base0E - Bright Magenta
color14 0x88b68d # base0C - Bright Cyan
color15 0xfffef9 # base07 - Bright White
