# Scheme name: Desert
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xcdbb9b
foreground_bold    0xf5deb3

# Cursor color
cursor             0xf5deb3
cursor_foreground  0x333333

# Background color
background         0x333333

color0 0x4d4d4d # base01 - Black
color1 0xff2b2b # base08 - Red
color2 0x98fb98 # base0B - Green
color3 0x87ceff # base0A - Yellow
color4 0xcd853f # base0D - Blue
color5 0xffdead # base0E - Magenta
color6 0xffa0a0 # base0C - Cyan
color7 0xf5deb3 # base06 - White
color8 0x555555 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x55ff55 # base14 - Bright Green
color11 0xffff55 # base13 - Bright Yellow
color12 0x87ceff # base16 - Bright Blue
color13 0xff55ff # base17 - Bright Magenta
color14 0xffd700 # base15 - Bright Cyan
color15 0xffffff # base07 - Bright White
