# Scheme name: IC-Orange-PPL
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xd9a971
foreground_bold    0xffc88a

# Cursor color
cursor             0xffc88a
cursor_foreground  0x262626

# Background color
background         0x262626

color0 0x000000 # base01 - Black
color1 0xc03900 # base08 - Red
color2 0xa3a900 # base0B - Green
color3 0xffbd54 # base0A - Yellow
color4 0xbd6c00 # base0D - Blue
color5 0xfb5d00 # base0E - Magenta
color6 0xf79400 # base0C - Cyan
color7 0xffc88a # base06 - White
color8 0x6a4e29 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0xf6ff3f # base14 - Bright Green
color11 0xffe36e # base13 - Bright Yellow
color12 0xffbd54 # base16 - Bright Blue
color13 0xfc874f # base17 - Bright Magenta
color14 0xc59752 # base15 - Bright Cyan
color15 0xf9f9fe # base07 - Bright White
