# Scheme name: Galaxy
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xa1a1a1
foreground_bold    0xbbbbbb

# Cursor color
cursor             0xbbbbbb
cursor_foreground  0x1c2836

# Background color
background         0x1c2836

color0 0x000000 # base01 - Black
color1 0xf9555f # base08 - Red
color2 0x20af89 # base0B - Green
color3 0x589cf5 # base0A - Yellow
color4 0x589cf5 # base0D - Blue
color5 0x934d95 # base0E - Magenta
color6 0x1e9ee6 # base0C - Cyan
color7 0xbbbbbb # base06 - White
color8 0x555555 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x34bb99 # base14 - Bright Green
color11 0xffff55 # base13 - Bright Yellow
color12 0x589cf5 # base16 - Bright Blue
color13 0xe75598 # base17 - Bright Magenta
color14 0x3978bb # base15 - Bright Cyan
color15 0xffffff # base07 - Bright White
