# Scheme name: Heetch Light
# Scheme system: base16
# Scheme author: Geoffrey Teale (tealeg@gmail.com)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x5a496e
foreground_bold    0x470546

# Cursor color
cursor             0x470546
cursor_foreground  0xfeffff

# Background color
background         0xfeffff

color0 0x392551 # base01 - Black
color1 0x27d9d5 # base08 - Red
color2 0xf80059 # base0B - Green
color3 0x5ba2b6 # base0A - Yellow
color4 0x47f9f5 # base0D - Blue
color5 0xbd0152 # base0E - Magenta
color6 0xc33678 # base0C - Cyan
color7 0x470546 # base06 - White
color8 0x7b6d8b # base02 - Bright Black
color9 0x27d9d5 # base08 - Bright Red
color10 0xf80059 # base0B - Bright Green
color11 0x5ba2b6 # base0A - Bright Yellow
color12 0x47f9f5 # base0D - Bright Blue
color13 0xbd0152 # base0E - Bright Magenta
color14 0xc33678 # base0C - Bright Cyan
color15 0x190134 # base07 - Bright White
