# Scheme name: Equilibrium Dark
# Scheme system: base16
# Scheme author: Carlo Abelli
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xafaba2
foreground_bold    0xcac6bd

# Cursor color
cursor             0xcac6bd
cursor_foreground  0x0c1118

# Background color
background         0x0c1118

color0 0x181c22 # base01 - Black
color1 0xf04339 # base08 - Red
color2 0x7f8b00 # base0B - Green
color3 0xbb8801 # base0A - Yellow
color4 0x008dd1 # base0D - Blue
color5 0x6a7fd2 # base0E - Magenta
color6 0x00948b # base0C - Cyan
color7 0xcac6bd # base06 - White
color8 0x22262d # base02 - Bright Black
color9 0xf04339 # base08 - Bright Red
color10 0x7f8b00 # base0B - Bright Green
color11 0xbb8801 # base0A - Bright Yellow
color12 0x008dd1 # base0D - Bright Blue
color13 0x6a7fd2 # base0E - Bright Magenta
color14 0x00948b # base0C - Bright Cyan
color15 0xe7e2d9 # base07 - Bright White
