# Scheme name: summercamp
# Scheme system: base16
# Scheme author: zoe firi (zoefiri.github.io)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x736e55
foreground_bold    0xbab696

# Cursor color
cursor             0xbab696
cursor_foreground  0x1c1810

# Background color
background         0x1c1810

color0 0x2a261c # base01 - Black
color1 0xe35142 # base08 - Red
color2 0x5ceb5a # base0B - Green
color3 0xf2ff27 # base0A - Yellow
color4 0x489bf0 # base0D - Blue
color5 0xff8080 # base0E - Magenta
color6 0x5aebbc # base0C - Cyan
color7 0xbab696 # base06 - White
color8 0x3a3527 # base02 - Bright Black
color9 0xe35142 # base08 - Bright Red
color10 0x5ceb5a # base0B - Bright Green
color11 0xf2ff27 # base0A - Bright Yellow
color12 0x489bf0 # base0D - Bright Blue
color13 0xff8080 # base0E - Bright Magenta
color14 0x5aebbc # base0C - Bright Cyan
color15 0xf8f5de # base07 - Bright White
