# Scheme name: tarot
# Scheme system: base16
# Scheme author: ed (https://codeberg.org/ed)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xaa556f
foreground_bold    0xc4686d

# Cursor color
cursor             0xc4686d
cursor_foreground  0x0e091d

# Background color
background         0x0e091d

color0 0x2a153c # base01 - Black
color1 0xc53253 # base08 - Red
color2 0xa68e5a # base0B - Green
color3 0xff6565 # base0A - Yellow
color4 0x6e6080 # base0D - Blue
color5 0xa45782 # base0E - Magenta
color6 0x8c9785 # base0C - Cyan
color7 0xc4686d # base06 - White
color8 0x4b2054 # base02 - Bright Black
color9 0xc53253 # base08 - Bright Red
color10 0xa68e5a # base0B - Bright Green
color11 0xff6565 # base0A - Bright Yellow
color12 0x6e6080 # base0D - Bright Blue
color13 0xa45782 # base0E - Bright Magenta
color14 0x8c9785 # base0C - Bright Cyan
color15 0xdc8f7c # base07 - Bright White
