# Scheme name: PaperColor Dark
# Scheme system: base16
# Scheme author: Jon Leopard (http://github.com/jonleopard), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0x808080
foreground_bold    0xd7875f

# Cursor color
cursor             0xd7875f
cursor_foreground  0x1c1c1c

# Background color
background         0x1c1c1c

color0 0xaf005f # base01 - Black
color1 0x585858 # base08 - Red
color2 0xaf87d7 # base0B - Green
color3 0xafd700 # base0A - Yellow
color4 0xff5faf # base0D - Blue
color5 0x00afaf # base0E - Magenta
color6 0xffaf00 # base0C - Cyan
color7 0xd7875f # base06 - White
color8 0x5faf00 # base02 - Bright Black
color9 0x585858 # base08 - Bright Red
color10 0xaf87d7 # base0B - Bright Green
color11 0xafd700 # base0A - Bright Yellow
color12 0xff5faf # base0D - Bright Blue
color13 0x00afaf # base0E - Bright Magenta
color14 0xffaf00 # base0C - Bright Cyan
color15 0xd0d0d0 # base07 - Bright White
