# Scheme name: Lovelace
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xceced3
foreground_bold    0xfdfdfd

# Cursor color
cursor             0xfdfdfd
cursor_foreground  0x1d1f28

# Background color
background         0x1d1f28

color0 0x282a36 # base01 - Black
color1 0xf37f97 # base08 - Red
color2 0x5adecd # base0B - Green
color3 0x556fff # base0A - Yellow
color4 0x8897f4 # base0D - Blue
color5 0xc574dd # base0E - Magenta
color6 0x79e6f3 # base0C - Cyan
color7 0xfdfdfd # base06 - White
color8 0x414458 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x18e3c8 # base14 - Bright Green
color11 0xff8037 # base13 - Bright Yellow
color12 0x556fff # base16 - Bright Blue
color13 0xb043d1 # base17 - Bright Magenta
color14 0x3fdcee # base15 - Bright Cyan
color15 0xbebec1 # base07 - Bright White
