# Scheme name: Seti UI
# Scheme system: base16
# Scheme author: 
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xd6d6d6
foreground_bold    0xeeeeee

# Cursor color
cursor             0xeeeeee
cursor_foreground  0x151718

# Background color
background         0x151718

color0 0x282a2b # base01 - Black
color1 0xcd3f45 # base08 - Red
color2 0x9fca56 # base0B - Green
color3 0xe6cd69 # base0A - Yellow
color4 0x55b5db # base0D - Blue
color5 0xa074c4 # base0E - Magenta
color6 0x55dbbe # base0C - Cyan
color7 0xeeeeee # base06 - White
color8 0x3b758c # base02 - Bright Black
color9 0xcd3f45 # base08 - Bright Red
color10 0x9fca56 # base0B - Bright Green
color11 0xe6cd69 # base0A - Bright Yellow
color12 0x55b5db # base0D - Bright Blue
color13 0xa074c4 # base0E - Bright Magenta
color14 0x55dbbe # base0C - Bright Cyan
color15 0xffffff # base07 - Bright White
