# Scheme name: Sparky
# Scheme system: base24
# Scheme author: Leila Sother (https://github.com/mixcoac)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xf4f5f0
foreground_bold    0xf5f5f1

# Cursor color
cursor             0xf5f5f1
cursor_foreground  0x072b31

# Background color
background         0x072b31

color0 0x00313c # base01 - Black
color1 0xff585d # base08 - Red
color2 0x78d64b # base0B - Green
color3 0xfbdd40 # base0A - Yellow
color4 0x4698cb # base0D - Blue
color5 0xd59ed7 # base0E - Magenta
color6 0x2dccd3 # base0C - Cyan
color7 0xf5f5f1 # base06 - White
color8 0x003c46 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x8edd65 # base14 - Bright Green
color11 0xf6eb61 # base13 - Bright Yellow
color12 0x69b3e7 # base16 - Bright Blue
color13 0xf99fc9 # base17 - Bright Magenta
color14 0x00c1d5 # base15 - Bright Cyan
color15 0xffffff # base07 - Bright White
