# Scheme name: Tango Half Adapted
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc6cac1
foreground_bold    0xe0e4db

# Cursor color
cursor             0xe0e4db
cursor_foreground  0xfffefe

# Background color
background         0xfffefe

color0 0x000000 # base01 - Black
color1 0xff0000 # base08 - Red
color2 0x4cc300 # base0B - Green
color3 0x75beff # base0A - Yellow
color4 0x008df5 # base0D - Blue
color5 0xa86bb2 # base0E - Magenta
color6 0x00bdc3 # base0C - Cyan
color7 0xe0e4db # base06 - White
color8 0x797c75 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x8af600 # base14 - Bright Green
color11 0xffeb00 # base13 - Bright Yellow
color12 0x75beff # base16 - Bright Blue
color13 0xd798d0 # base17 - Bright Magenta
color14 0x00f6fa # base15 - Bright Cyan
color15 0xf3f3f1 # base07 - Bright White
