# Scheme name: Shades of Purple
# Scheme system: base16
# Scheme author: Iolar Demartini Junior (http://github.com/demartini), based on Shades of Purple Theme (https://github.com/ahmadawais/shades-of-purple-vscode)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc7c7c7
foreground_bold    0xff77ff

# Cursor color
cursor             0xff77ff
cursor_foreground  0x1e1e3f

# Background color
background         0x1e1e3f

color0 0x43d426 # base01 - Black
color1 0xd90429 # base08 - Red
color2 0x3ad900 # base0B - Green
color3 0xffe700 # base0A - Yellow
color4 0x6943ff # base0D - Blue
color5 0xff2c70 # base0E - Magenta
color6 0x00c5c7 # base0C - Cyan
color7 0xff77ff # base06 - White
color8 0xf1d000 # base02 - Bright Black
color9 0xd90429 # base08 - Bright Red
color10 0x3ad900 # base0B - Bright Green
color11 0xffe700 # base0A - Bright Yellow
color12 0x6943ff # base0D - Bright Blue
color13 0xff2c70 # base0E - Bright Magenta
color14 0x00c5c7 # base0C - Bright Cyan
color15 0xffffff # base07 - Bright White
