# Scheme name: Kibble
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc0b3c0
foreground_bold    0xe2d1e3

# Cursor color
cursor             0xe2d1e3
cursor_foreground  0x0e100a

# Background color
background         0x0e100a

color0 0x4d4d4d # base01 - Black
color1 0xc70031 # base08 - Red
color2 0x29cf13 # base0B - Green
color3 0x97a4f7 # base0A - Yellow
color4 0x3449d1 # base0D - Blue
color5 0x8400ff # base0E - Magenta
color6 0x0798ab # base0C - Cyan
color7 0xe2d1e3 # base06 - White
color8 0x5a5a5a # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x6ce05c # base14 - Bright Green
color11 0xf3f79e # base13 - Bright Yellow
color12 0x97a4f7 # base16 - Bright Blue
color13 0xc495f0 # base17 - Bright Magenta
color14 0x68f2e0 # base15 - Bright Cyan
color15 0xffffff # base07 - Bright White
