# Scheme name: OceanicNext
# Scheme system: base16
# Scheme author: https://github.com/voronianski/oceanic-next-color-scheme
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xc0c5ce
foreground_bold    0xcdd3de

# Cursor color
cursor             0xcdd3de
cursor_foreground  0x1b2b34

# Background color
background         0x1b2b34

color0 0x343d46 # base01 - Black
color1 0xec5f67 # base08 - Red
color2 0x99c794 # base0B - Green
color3 0xfac863 # base0A - Yellow
color4 0x6699cc # base0D - Blue
color5 0xc594c5 # base0E - Magenta
color6 0x5fb3b3 # base0C - Cyan
color7 0xcdd3de # base06 - White
color8 0x4f5b66 # base02 - Bright Black
color9 0xec5f67 # base08 - Bright Red
color10 0x99c794 # base0B - Bright Green
color11 0xfac863 # base0A - Bright Yellow
color12 0x6699cc # base0D - Bright Blue
color13 0xc594c5 # base0E - Bright Magenta
color14 0x5fb3b3 # base0C - Bright Cyan
color15 0xd8dee9 # base07 - Bright White
