# Scheme name: Red Sands
# Scheme system: base24
# Scheme author: FredHappyface (https://github.com/fredHappyface)
# Template author: https://github.com/tinted-theming/tinted-kermit-terminal

# Foreground color
foreground         0xa1a1a1
foreground_bold    0xbbbbbb

# Cursor color
cursor             0xbbbbbb
cursor_foreground  0x79241e

# Background color
background         0x79241e

color0 0x000000 # base01 - Black
color1 0xff3f00 # base08 - Red
color2 0x00bb00 # base0B - Green
color3 0x0071ae # base0A - Yellow
color4 0x0071ff # base0D - Blue
color5 0xbb00bb # base0E - Magenta
color6 0x00bbbb # base0C - Cyan
color7 0xbbbbbb # base06 - White
color8 0x555555 # base02 - Bright Black
color9 0x # base12 - Bright Red
color10 0x00bb00 # base14 - Bright Green
color11 0xe7b000 # base13 - Bright Yellow
color12 0x0071ae # base16 - Bright Blue
color13 0xff55ff # base17 - Bright Magenta
color14 0x55ffff # base15 - Bright Cyan
color15 0xffffff # base07 - Bright White
